.aboutinfo {
    height: 600px !important;
    width: 500px !important;

    position: absolute;
    z-index: -19;
    top: -50%;
    left: calc(50% - 250px);

    pointer-events: none;

    border-radius: 30px;
    transition: .5s;
    /* transition-timing-function: cubic-bezier(1, 0, .45, .73); */
    background-color: var(--elem-transp);
    color: var(--elem-text);
    /* transform-style: preserve-3d; */

    opacity: 0;
    /* pointer-events: none; */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    /* overflow: hidden; */
    transform-style: preserve-3d;
    transform: none;
}

.aboutinfo:hover {
    transition: 0 !important;
    transform: perspective(1000px);
}

.aboutinfo.aboutme {
    opacity: 1;
    top: calc(50% - 300px);
    pointer-events: all;
}

.aboutinfo:hover::before {
    transform: translateZ(-50px);
}

.aboutinfo::before {
    content: "";
    width: 500px;
    height: 600px;
    border-radius: inherit;

    position: absolute;
    /* z-index: -40 !important; */
    transform: translateZ(-1px);
    /* background-color: purple; */

    background-image: url(../imgs/confetti.svg);
    background-size: 590px;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: purple; */
    filter: saturate(2);
    /* transform: none; */

    transition: .5s;
}

.aboutinfo .namecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    position: relative;
    /* backdrop-filter: blur(10px); */
    padding: 20px 50px;
    border-radius: 10px;
    margin: -20px 0;
}

.aboutinfo .namecard .last::before {
    content: "gavin";
    font-weight: 200;

    /* display: flex; */
    /* justify-content: center; */

    /* position: relative; */
    /* top: 380px; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
}

.aboutinfo .namecard .last {
    font-size: 40px;
    font-weight: 600;
}

.aboutinfo .namecard .at {
    font-weight: normal;

    font-size: 20px;
    opacity: .5;
}

.aboutinfo:hover p.chunk {
    transform: translateZ(20px);
}

.aboutinfo p.chunk {
    margin: 0;
    /* padding: 0; */

    font-size: 13.5px;
    font-weight: 400;
    width: 450px;

    /* position: absolute; */
    /* top: unset; */
    /* left: 50%; */
    /* bottom: 25px; */
    /* transform: translateX(-50%); */

    padding: 15px 20px;
    background-color: var(--transparent-container);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    margin-top: auto;
    margin-bottom: 25px;
    transform: translateZ(0);
    transition: .25s;
}

.aboutinfo .metoken {
    width: 320px;
    height: 320px;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;

    position: relative;
    /* z-index: 12; */
    margin-top: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    /* cursor: pointer; */
    /* transform-style: preserve-3d; */
    transform: translateZ(40px);
}

.aboutinfo .metoken .mtImg {
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    object-fit: cover;
    object-position: center;

    /* pointer-events: none; */

    position: absolute;
    opacity: 0;
    transition: .25s;

    background-color: purple;
}

.aboutinfo .metoken .mtImg.v {
    opacity: 1;
}