.nbAbout {
    font-family: FLNTFILL;
    background-color: var(--navBtn-Active);
}

.nbAbout::before {
    background-color: var(--accent);
}

.nbAbout::after{
    content: "";
}

.aboutBox {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--font);
}

.aboutCard {
    width: 100%;
    height: 50%;
    min-height: 50%;
    margin: 0 15px 50px 15px;
    position: relative;
    
    background: var(--abtCoverImage) center/cover no-repeat white;
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 15%);
    mask-image: linear-gradient(to top, transparent 0%, black 15%);
}

.aboutProfilePic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.4);
    background: url("../imgs/profPic.jpg") center/cover no-repeat white;
    border: solid 3px var(--backBorder);
}

.acText{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: max-content;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.atName {
    font: bold 55px var(--ff);
}

.atUserName {
    font: 500 38px var(--ff);
    opacity: .7;
}

.aboutPosts {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: var(--inner-radi);
}

.aboutPosts::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.abtPosts {
    width: 400px;
    height: 70px;
    background: var(--aboutCard);
    border: 2px solid var(--backBorder);
    color: var(--font);
    padding: 20px;
    border-radius: var(--inner-radi);
    margin: 0 5px 10px 0;
    display: flex;
    flex-direction: column;
    transition: height .2s;
    transition-delay: .1s;
    position: relative;
    overflow: hidden;
}

.abtPosts:hover {
    height: fit-content;
}

.abtPosts:hover .expandIcon {
    transform: rotate(180deg);
}

.abtPosts:hover .apamBody {
    opacity: 1;
}

.expandIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0;
    margin-top: 10px;
    right: 30px;
    transition-duration: .4s;
    width: 15px;
    height: 15px;
    font-size: 25px;
    font-family: FLNTFILL;
}

.apamTitle {
    text-align: left;
    font: bold 24px var(--ff);
    margin: 0 0 5px 0;
}

.apamBody {
    text-align: left;
    font: 500 15px var(--ff);
    opacity: 0;
    pointer-events: none;
    transition-duration: .2s;
}

@media screen and (max-width: 600px) {
    .aboutCard {
        width: 95%;
    }

    .aboutPosts {
        flex-direction: column;
    }

    .abtPosts {
        margin: 0 0 15px 0;
        height: fit-content;
    }

    .apamBody{
        opacity: 1;
        height: fit-content;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }
}

@media screen and (max-width: 700px) {
    .aboutBox {
        width: 100%;
        padding-top: 0;
    }
}

@media screen and (max-width: 1250px) {

    .expandIcon{
        display: none;
    }

    .aboutPosts {
        flex-direction: column;
    }

    .abtPosts {
        margin: 0 0 15px 0;
        height: fit-content;
    }

    .apamBody{
        opacity: 1;
        height: fit-content;
    }
}