.heroTitle, 
.heroSubTitle{
    display: none;
}

.profilePic{
    width: 200px;
    aspect-ratio: 1/1;

    border: 10px solid var(--pageBackgroundColor);
    border-radius: 50%;
    
    background-image: url("../png-colored-v2-min.png");
    background-size: cover;

    position: absolute;
    bottom: -80px;
    left: 20px;
}