body {
    height: 100vh;
    width: 100vw;
    margin: 0;

    display: flex;

    overflow: hidden !important;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: var(--rootBack);
    /* background-image: var(--back-glass-image); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color .3s;
}

/* body:has() selectors*/
body {
    &:has(.projects-header.showProject) {
        .sectionController {
            height: 44px;
            bottom: 0;

            &::before,
            &::after {
                height: var(--radius);
            }
        }

        .subTileRows {
            padding-top: 8em;
            pointer-events: all;

            &::before {
                opacity: 0;
                width: 100%;
                border-radius: 0;
            }

            .pbIndex {
                opacity: 0 !important;
                transform: translateY(-15px) !important;
            }
        }

        .navBar {
            pointer-events: none;
            width: 100px;
            left: calc(50% - 50px);

            .img,
            .moreContext {
                opacity: 0;
                transform: scale(.9);
            }
        }
    }
}

.loader {
    width: 100vw;
    height: 100vh;

    background: black;
    position: absolute;
    z-index: 100;

    animation-name: hideLoader;
    animation-duration: .5s;
    animation-delay: 1.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.hider {
    /* width: 0; */
    aspect-ratio: 1/1;
    background-color: var(--page0);

    border-radius: 50%;

    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    filter: blur(50px);

    animation-name: hideHider;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;

    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    scroll-snap-type: y mandatory;
    scroll-padding-top: 60px;

    transform-origin: bottom center;

    transition: .15s;

    overflow-x: hidden;
    overflow-y: scroll;

    &.aboutme {
        overflow-y: hidden;
    }

    &.portrait {
        padding-top: 0;
        right: 0;
        margin-bottom: 60px;
    }
}

.headsup {
    position: absolute;
    z-index: 9999;
    bottom: 0;
    right: 5px;
    width: fit-content;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    gap: 10px;

    font-size: 13px;
    font-weight: bold;

    border-top-left-radius: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    overflow: hidden;

    /* backdrop-filter: blur(10px); */
    color: var(--elem-transp-text);
    opacity: .5;
    transition: .4s;

    &.portrait {
        height: 50px;

        p {
            width: 350px;
            line-height: 20px;
        }
    }

    p {
        width: 100%;
        flex-shrink: 0;
        opacity: 1;
        padding-right: 6px;

        transition: .2s;
    }

    a {
        text-decoration: none;
        color: var(--pageBack);

        background-color: rgba(255, 255, 255, 0.682);
        padding: 3px 5px;
        border-radius: 7px;
    }
}

/* header */

.projects-header {
    font-size: 40px;
    height: 50vh;
    width: 100vw;
    flex-shrink: 0;
    max-height: 50vh;
    min-height: 15vh;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--elem-transp-text);
    background-color: transparent;

    position: sticky;
    top: -37vh;
    left: 0;
    z-index: 2;

    transition: .4s;

    &.showProject {
        background: linear-gradient(to bottom, var(--elem-transp) 50%, transparent);
        box-shadow: none;
        top: 0;

        .projVisor {
            pointer-events: all;
            opacity: 1;
        }

        .projInfo {
            opacity: 1 !important;
        }

        .greeting {
            opacity: 0;
            transform: scale(.9);
        }

        #socialList {
            opacity: 0;
            pointer-events: none;
        }

        &::after {
            height: calc(100% + 40px);
            backdrop-filter: blur(15px);
            /* top: -40px; */
            border-radius: 0 0 30px 30px;
        }
    }

    &::after,
    &::before {
        content: '';

        width: 100%;
        height: 50vh;
        max-height: 50vh;
        min-height: 15vh;

        backdrop-filter: blur(0);
        mask-image: linear-gradient(to top, transparent 30px, black 70px);

        position: absolute;
        top: 0;
        z-index: -1;
    }

    &::before {
        height: 40px;
        backdrop-filter: blur(15px);

        pointer-events: none;

        transition: .3s;

        position: fixed;
        bottom: 0;
        top: unset;
        mask-image: linear-gradient(to bottom, transparent 20%, black 85%);
    }

    .greeting {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-weight: bold;

        position: sticky;
        top: 20px;

        transition: .15s;

        &::after {
            content: '~i make pretty things on the internet~';

            font-size: 20px;
            font-weight: 300;
            opacity: .5;
            transition: .15s;
        }

        div {
            display: flex;

            p {
                margin: 0;
                padding: 0;
            }
        }

        .hw {
            animation-name: wave;
            animation-duration: .75s;
            animation-fill-mode: forwards;
            animation-delay: 1.5s;
            /* transform-origin: bottom right; */
            width: 30px;
            height: 30px;

            display: flex;
            align-items: center;
            justify-content: center;

            /* margin-bottom: -15px; */
            transition: .25s;

            /* background-color: white; */
        }
    }
}

.projVisor {
    position: absolute;
    top: 0;

    display: flex;
    justify-content: center;
    z-index: 100;

    width: 100%;
    max-width: 1600px;
    height: 45vh;

    padding: 10px;
    padding-top: 55px !important;

    opacity: 0;
    transition: .15s;

    pointer-events: none;

    &.temphide {
        opacity: 0 !important;
        transform: translateY(-10px);
    }

    &:has(.projImg) .preElem {
        opacity: 0 !important;
    }

    .projElem {
        transition: .15s;
    }

    .preElem {
        width: 100% !important;
        max-width: 90% !important;
        height: calc(100% - 55px) !important;
        margin: 0 !important;
        margin-top: 10px !important;
        border-radius: 26px !important;
        box-shadow: 0 0 15px #00000024 !important;

        position: absolute !important;
        bottom: 0;
        padding: 0 !important;

        display: flex;
        align-items: center;
        justify-content: center;

        p {
            opacity: .5;
            font-size: 30px;
            font-weight: lighter;

            padding: 0;
            margin: 0;
        }
    }

    .projInfo {
        width: fit-content;
        max-width: 50vw;
        min-width: 200px;
        height: 100%;

        position: relative;
        padding: 10px;
        padding-left: 60px;
        padding-bottom: 0;

        margin-left: -50px;

        background-color: var(--elem-transp);
        border-radius: 0 26px 26px 0;
        box-shadow: 7px 0 15px #00000024;

        display: flex;
        gap: 6px;
        flex-direction: column;
        justify-content: center;

        overflow: hidden;

        .projTitle {
            align-self: flex-start;
            font-size: 25px;
            font-weight: bold;
            height: fit-content;
            position: relative;
            z-index: 4;

            padding-top: 5px;
            padding-left: 10px;

            display: flex;
            align-items: flex-end;
            gap: 5px;

            &::after {
                content: attr(data-lastUpdate);
                font-size: 13px;
                font-weight: 500;
                opacity: .5;
                margin-bottom: 3px;
            }
        }

        .projDesc {
            padding: 15px 20px;
            font-size: 17px;
            width: calc(100%);
            margin: 5px 0 auto 0;
            min-width: 100px;
            overflow: hidden;
            height: max-content;

            border-radius: 26px;
            background-color: inherit;
            box-shadow: inset 0 0 0 1000000px #00000020;

            opacity: 1 !important;
            transition: .2s;
        }

        .projIndex {
            position: absolute;
            bottom: 8px;
            left: 62px;
            top: unset;

            transition: .2s;

            .projTitle {
                align-items: flex-start;

                &::after {
                    content: attr(subtitle) !important;
                    font-weight: 700;
                }

                .sep {
                    mask-image: linear-gradient(to right, black, transparent);
                }
            }
        }

        .actions {
            display: flex;
            justify-content: center;
            width: fit-content;
            margin-left: auto;
            gap: 5px;
            height: fit-content;
            margin-bottom: 10px;

            >* {
                position: relative;
                height: 50px;
                width: fit-content;

                display: flex;
                align-items: center;
                justify-content: flex-start;
                overflow: hidden;
                cursor: pointer;
                gap: 10px;

                background-color: var(--elem-transp);
                border-radius: 30px;
                text-decoration: none;
                color: var(--elem-transp-text);
                font-size: .525em;

                padding: 0 15px;
                box-sizing: border-box;

                transition: .2s;
            }

            .projAction {
                &::after {
                    content: attr(data-label);
                    font-size: 15px;
                }

                &:hover {
                    background-color: var(--elem);
                }
            }
        }

        .backIcn {
            transition: .2s;

            position: absolute;
            bottom: -50px;
            right: 0;
            z-index: -1;

            aspect-ratio: 1/1;

            mask-image: linear-gradient(to bottom, black 80%, transparent 90%);

            font-size: 350px;
            opacity: .1;

            display: flex;
            align-items: flex-end;
            justify-content: center;
        }
    }

    .projImg {
        width: auto;
        max-width: 50%;
        height: 100%;
        max-height: 100%;
        object-fit: cover;
        object-position: center;

        border-radius: 26px;
        backdrop-filter: blur(10px);
        background-color: var(--elem-transp);

        box-shadow: 7px 0 15px #00000024;

        position: relative;
        z-index: 1;

        /* padding: 15px; */
        transition: .4s;
        /* border: 1px solid rgba(0, 0, 0, 0.3); */
    }


}

.projects-header .subTiles {
    display: flex !important;
    flex-wrap: wrap;
    width: 500px;
    justify-content: center;

    position: absolute;
    top: calc(100% - 100px);
    z-index: 100;
    gap: 5px;
    padding-bottom: 15px;

    transition: .4s;

    &.hide {
        opacity: 0;
        bottom: -10px;
        pointer-events: none;
    }

    .tile {
        position: relative;
        height: 40px;
        width: fit-content;
        flex-shrink: 0;
        gap: 8px;
        padding: 5px 10px !important;

        display: flex;
        align-items: center;
        overflow: hidden;

        background-color: var(--elem-transp);
        border-radius: 60px;
        text-decoration: none;
        color: white;
        box-sizing: border-box;

        transition: .35s;

        &:hover {
            border-radius: 10px;

            &::after {
                color: white;
            }

            i {
                /* font-size: 60px; */
                /* width: 22px; */
                opacity: .6;
                color: white;
                transform: scale(1.25);
            }
        }

        &:active {
            border-radius: 30px !important;
            transform: scale(.95) !important;
        }

        &::after {
            content: attr(data-tileName);
            font-size: 14px;
            font-weight: 600;
            flex-shrink: 0;

            position: relative;
            z-index: 2;

            color: var(--elem-text);
        }

        i {
            font-size: 40px;
            width: min-content;
            height: fit-content;

            color: var(--elem-text);
            opacity: .25;

            z-index: 0;
            position: absolute;
            bottom: -30%;
            left: 0;

            transition: .3s;
        }
    }
}

/* projects area */

.subTileRows {
    box-sizing: border-box;
    padding: .75em 0;
    border-radius: 30px 30px 0 0;

    scroll-snap-align: start;
    height: 63vh;

    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;

    transition: .2s;

    pointer-events: none;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        width: calc(100% - 40px);
        height: calc(100% + 100px);
        z-index: -1;

        transition: 1.25s ease;

        border-radius: inherit;
        opacity: .7;
        box-shadow:
            inset 0 0 50px var(--glow),
            0 0 0 0px var(--glow);
    }

    &.temphide {
        opacity: 0 !important;
    }
}

.padding-top {
    width: 1px;
    height: calc(100vh - 190px);
    margin-top: -48vh;

    scroll-snap-align: start;
}

.tileRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;

    width: 100%;
    max-width: 100vw;
    height: fit-content;
    flex-shrink: 0;

    background-color: var(--transparent-container);
    border-radius: 26px;
    overflow: hidden;

    position: relative;

    padding: 1em;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: -55px;

    box-sizing: border-box;
    transition: .15s;

    &#musicProjects {
        max-width: 520px;

        .projectBox:not(.pbIndex) {
            width: 150px;
            height: 150px;

            .projTitle {
                font-size: 14px;
            }
        }
    }
}

@media (min-width: 530px) {
    .tileRow {
        width: 530px;
    }
}

@media (min-width: 785px) {
    .tileRow {
        width: 785px;
    }
}

@media (min-width: 1040px) {
    .tileRow {
        width: 1040px;
    }
}

@media (min-width: 1300px) {
    .tileRow {
        width: 1300px;
    }
}

.projectBox {
    width: 240px;
    height: 130px;
    /* background-color: var(--transparent-container); */
    /* backdrop-filter: blur(20px); */
    border-radius: 16px;
    color: var(--elem-transp-text);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    overflow: hidden;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);

    position: relative;
    cursor: pointer;
    z-index: 1;

    transition: .25s;

    &.selected {
        background-color: var(--elem);

        .projImg {
            box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.3);

            &::after {
                opacity: 1 !important;
            }
        }
    }

    &:not(.selected):hover .projImg::after {
        opacity: 1;
    }

    .projTitle {
        font-size: 14px;
        font-weight: bold;
        transition: .2s;

        z-index: 10;
        position: absolute;
        bottom: 0px;
        left: 0px;

        text-align: center;

        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        background-color: var(--elem-transp);
        backdrop-filter: blur(6px);
        border-radius: 0 13px 0 0;
        padding: 3px 7px;
    }

    .projDesc {
        display: none;
        /* background-color: purple; */

        &::after {
            content: attr(data-lastUpdate);
            display: none;
        }
    }

    .projImg {
        height: 100%;
        width: 100%;
        flex-shrink: 0;
        object-fit: cover;

        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        z-index: 2;
        border-radius: 17px;
        /* background-color: purple; */

        transition: .2s;
        background-color: var(--elem);

        &::after {
            content: '';
            width: 100%;
            height: 100%;

            position: absolute;
            z-index: 1000;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            opacity: 0;
            transition: .15s;

            border-radius: inherit;
            box-shadow:
                inset 0 0 0 1px white,
                inset 0 0 15px 2px white;
        }

        img {
            display: flex;
            width: 100%;
            height: 100%;

            transition: .2s;

            border-radius: inherit;

            object-fit: cover;
        }
    }
}

.pbIndex {
    width: fit-content;
    height: 60px;
    max-height: 60px;

    user-select: none;
    box-shadow: none !important;

    position: absolute;
    top: 0;
    z-index: 100;

    color: var(--elem-transp-text);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    .projTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0;

        transition: .2s;

        &::before {
            content: attr(title);
            text-transform: lowercase;
            font-size: 23px;
            font-weight: 100;
            opacity: .8;

            order: 0;

            mask-image: linear-gradient(to bottom, black 50%, transparent 90%);
        }

        &::after {
            content: attr(subTitle);
            font-size: 15px;
            font-weight: 700;
            width: max-content;
            order: 10;
            opacity: .8;
        }

        .sep {
            order: 5;
            width: 120%;
            height: 1px;
            flex-shrink: 0;
            opacity: .5;

            display: flex;
            margin-top: -6px;
            margin-bottom: -1px;

            mask-image: linear-gradient(to left, transparent, black, transparent);
            background-color: var(--elem-sel);
        }
    }
}

/* navbar */

.navBar {
    height: 37px;
    width: 126px;

    position: fixed;
    top: 10px;
    left: calc(50% - 63px);
    z-index: 15;

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1 !important;

    cursor: pointer;

    background-color: black;
    color: white;
    border-radius: 35px;
    transition: .4s;

    /* overflow: hidden; */
    padding: 0;
    padding-left: 40px;
    padding-right: 10px;
    /* padding-right: 15px; */

    &:hover {
        background-color: #222;
        height: 72px;
        width: 352px;
        left: calc(50% - 176px);

        .headTiles {
            color: white;

            .contactInfo {
                filter: blur(0);
            }

            .img {
                width: 48px;
                left: 13px;
            }
        }

        .moreContext {
            right: 14px;
        }

        #aboutContext {
            opacity: 0;
        }

        #moreContext {
            opacity: 1 !important;
        }
    }

    .moreContext {
        position: absolute;
        height: calc(100% - 34px);
        aspect-ratio: 1/1;
        border-radius: 100px;

        display: flex;
        align-items: center;
        justify-content: center;

        right: 12px;
        transition: .3s;
        font-size: 14px;

        &:not(#aboutContext) {
            opacity: 0;
        }

        &#moreContext {
            background-color: #2e81ff;
        }
    }

    .headTiles {
        display: flex;
        align-items: center;

        height: fit-content;
        width: fit-content;
        flex-shrink: 0;

        color: transparent;

        transition: .25s;

        .img {
            background-image: url(../imgs/logo.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;

            width: 31px;
            aspect-ratio: 1/1;
            box-sizing: border-box;
            border-radius: 40px;

            position: absolute;
            left: 3px;
            transition: .3s;
        }

        .contactInfo {
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;
            justify-content: center;
            gap: 0;

            transition: .25s;

            filter: blur(10px);
            position: absolute;
            left: 69px;
            box-sizing: border-box;
            margin-bottom: -9px;

            .wm {
                font-size: 18px;
                font-weight: 600;
                transition: .2s;
                width: max-content;

                margin-top: -2px;
            }

            .wm-sub {
                font-size: 12px;
                font-weight: normal;
                opacity: .4;
                width: max-content;
                margin-bottom: -1px;

                display: flex;
                align-items: center;
                justify-content: flex-start;

                &::after {
                    content: "About me";

                    width: fit-content;
                }
            }
        }
    }
}

body:has(.content.aboutme) {
    .navBar {
        .moreContext:not(#returnContext) {
            opacity: 0 !important;
        }

        .wm-sub::after {
            content: 'Return';
        }

        #returnContext {
            opacity: 1;
        }

        &:hover {
            #returnContext {
                background-color: red;
            }
        }
    }
}

/* section controller */

.sectionController {
    display: flex;
    gap: 4px;

    position: fixed;
    height: 0;
    bottom: -10px;
    left: 50%;
    z-index: 100;

    box-sizing: border-box;
    padding: 5px;
    transform: translateX(-50%);

    border-radius: var(--radius) var(--radius) 0 0;
    background-color: black;

    transition: .25s;

    &::before,
    &::after {
        content: '';

        width: var(--radius);
        height: 0;

        position: absolute;
        bottom: 0;

        transition: .25s;
    }

    &::before {
        left: calc((var(--radius) - 1px) * -1);
        border-radius: 0 0 var(--radius) 0;

        box-shadow: 3px 9px 0 1px #000;
    }

    &::after {
        right: calc((var(--radius) - 1px) * -1);

        border-radius: 0 0 0 var(--radius);
        box-shadow: -3px 9px 0 1px #000;
    }
}

.sectionBtn {
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    transition: .15s;
    overflow: hidden;

    width: 50px;
    height: 34px;

    border-radius: 100px;
    background-color: #333;

    box-shadow:
        0 3px 6px #00000009,
        inset 0 0 0 1px transparent;

    &.selected {
        box-shadow:
            0 3px 6px #00000022,
            inset 0 0 0 1px var(--glow);
    }

    &:hover {
        box-shadow:
            0 3px 6px #00000022,
            inset 0 0 0 1px var(--glow);
    }

    i {
        font-size: 15px;
    }

    &[data-btnTitle="Cloud"] {

        &:hover,
        &.selected {
            background-color: skyblue;
        }

        i {
            color: hsl(197, 87%, 40%);
        }
    }

    &[data-btnTitle="Create"] {

        &:hover,
        &.selected {
            background-color: rgb(235, 233, 135);
        }

        i {
            color: hsl(59, 87%, 40%);
        }
    }

    &[data-btnTitle="Download"] {

        &:hover,
        &.selected {
            background-color: rgb(163, 235, 135);
        }

        i {
            color: hsl(103, 87%, 40%);
        }
    }

    &[data-btnTitle="Bounce"] {

        &:hover,
        &.selected {
            background-color: rgb(235, 135, 135);
        }

        i {
            color: hsl(0, 87%, 40%);
        }
    }
}

/* aboutme */

.aboutMe {
    position: absolute;
    z-index: 2;
    top: calc(50% - 250px);
    left: calc(50% - 250px);

    width: 500px;
    height: 590px;

    border-radius: 30px;

    background-color: var(--elem-transp);
    opacity: 0;

    font-size: 40px;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;

    color: var(--elem-transp-text);

    transition: .4s;

    &::before {
        content: "";
        width: 100%;
        height: 100%;

        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;

        background-image: url(../imgs/confetti.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        border-radius: inherit;

        transition: .25s;
    }

    .metoken {
        width: 320px;
        height: 320px;
        overflow: hidden;
        border-radius: 50%;
        flex-shrink: 0;

        position: absolute;
        top: -25px;

        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;

        transition: .3s;

        pointer-events: none;

        .mtImg {
            width: calc(100% + 3px);
            height: calc(100% + 3px);
            object-fit: cover;
            object-position: center;

            /* pointer-events: none; */

            position: absolute;
            opacity: 0;
            transition: .25s;

            background-color: purple;

            &.v {
                opacity: 1;
            }
        }
    }

    .namecard {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        position: absolute;
        top: 305px;
        /* backdrop-filter: blur(10px); */
        padding: 20px 50px;
        border-radius: 10px;
        margin: -20px 0;

        pointer-events: none;

        .last {
            font-size: 40px;
            font-weight: 600;

            &::before {
                content: "gavin";
                font-weight: 200;

                /* display: flex; */
                /* justify-content: center; */

                /* position: relative; */
                /* top: 380px; */
                /* left: 50%; */
                /* transform: translateX(-50%); */
            }
        }

        .at {
            font-weight: normal;

            font-size: 20px;
            opacity: .5;
        }
    }

    p.chunk {
        font-size: 13.5px;
        font-weight: 400;
        width: calc(100% - 30px);
        height: fit-content;

        position: absolute;
        right: 15px;
        bottom: 0px;

        padding: 15px 20px;
        background-color: var(--transparent-container);
        backdrop-filter: blur(10px);
        border-radius: 25px;
        transition: .3s;

        pointer-events: none;
    }
}

.content.aboutme {

    .sectionController,
    .projects-header,
    .subTileRows {
        opacity: 0;
        pointer-events: none;
    }


    .projects-header {
        margin-top: -20px !important;

        &::before {
            opacity: 0;
        }
    }

    .aboutMe {
        opacity: 1;
        top: calc(50% - 285px);
    }

    .subTileRows {
        filter: blur(10px);

        margin-top: 10vh;
    }

    .sectionController {
        margin-bottom: -15px;
    }
}

/* New animated bg */

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -200;

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: '';
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;

        background-image: url('https://as2.ftcdn.net/v2/jpg/01/18/43/27/1000_F_118432787_uW7pCUsrzjBx9KV07VWNiWqXtjzp4NUp.jpg');
        background-size: 80px;
        mix-blend-mode: multiply;
        opacity: .033;
    }

    .bgCont {
        transform: scale(2.25);

        width: 540px;
        height: 540px;
    }
}

.circle,
.shape-blob {
    will-change: transform, opacity;
}

.circle,
.topbottom {
    position: absolute;
    bottom: 0;
    display: block;
    border-radius: 50%;
    background-color: #F55C9F;
    backface-visibility: hidden;
}

.bga {
    animation-play-state: running;
}

.circle {
    filter: blur(30px);
    animation: 25s toTop infinite ease-in-out;

    &:nth-of-type(1) {
        width: 100px;
        height: 100px;
        left: 60px;
        top: -30px;
        animation-delay: 3s;
        animation: 25s toBottom infinite ease-in-out;
    }

    &:nth-of-type(2) {
        left: 100px;
        bottom: -70px;
        width: 180px;
        height: 160px;
    }

    &:nth-of-type(3) {
        width: 180px;
        height: 172px;
        left: 180px;
        top: -100px;
        animation: 25s toBottom infinite ease-in-out;
        animation-delay: 2s;
    }

    &:nth-of-type(4) {
        top: -120px;
        left: 410px;
        width: 170px;
        height: 190px;
        animation: 25s toBottom infinite ease-in-out;
        animation-delay: 5s;
    }

    &:nth-of-type(5) {
        width: 140px;
        height: 140px;
        left: 370px;
        animation-duration: 21s;
        bottom: -200px;
        animation-delay: 9s;
    }

    &:nth-of-type(6) {
        left: 300px;
        bottom: -70px;
        width: 180px;
        animation-delay: 6.2s;
        height: 160px;
    }

    &:nth-of-type(7) {
        width: 110px;
        height: 102px;
        left: 230px;
        animation-duration: 22s;
        animation-delay: 8.2s;
    }

    &:nth-of-type(8) {
        bottom: -100px;
        left: 310px;
        width: 70px;
        height: 70px;
        animation-delay: 15s;
    }
}

.topbottom {
    width: 800px;
    height: 200px;
    z-index: 100;
    left: 50%;
    filter: blur(10px);

    &.bottom {
        bottom: 0;
        transform: translate(-50%, 50%);
    }

    &.top {
        top: 0;
        transform: translate(-50%, -50%);
    }
}

.shape-blob {
    background: #806FE9;
    height: 60px;
    width: 80px;
    border-radius: 40% 50% 30% 40%;
    animation:
        transform 18s ease-in-out infinite both alternate,
        movement_one 12s ease-in-out infinite both;
    opacity: .7;
    position: absolute;
    transform: scale(1.1);
    left: 0%;
    top: 0%;

    filter: blur(50px);

    &.one {
        height: 150px;
        width: 200px;
        left: -10%;
        top: 45%;
        transform: rotate(-180deg);
        animation: transform 8s ease-in-out infinite both alternate, movement_two 20s ease-in-out infinite both;
    }

    &.six {
        height: 70px;
        width: 100px;
        left: -10%;
        top: 20%;
        transform: rotate(-180deg);
        animation: transform 5s ease-in-out infinite both alternate, movement_two 5s ease-in-out infinite both;
    }

    &.four {
        height: 100px;
        width: 80px;
        left: 82%;
        top: 42%;
        transform: rotate(-180deg);
        animation: transform 17s ease-in-out infinite both alternate, movement_two 13s ease-in-out infinite both;
    }

    &.five {
        height: 100px;
        width: 80px;
        left: 38%;
        top: 48%;
        transform: rotate(-180deg);
        animation: transform 12s ease-in-out infinite both alternate, movement_two 18s ease-in-out infinite both;
    }

    &.two {
        height: 150px;
        width: 150px;
        left: 24%;
        top: 4%;
        transform: rotate(-180deg);
        animation: transform 10s ease-in-out infinite both alternate, movement_two 10s ease-in-out infinite both;
    }

    &.three {
        height: 150px;
        width: 150px;
        left: 80%;
        top: 50%;
        transform: rotate(-180deg);
        animation: transform 7s ease-in-out infinite both alternate, movement_two 23s ease-in-out infinite both;
    }
}

/* keyframes */

@keyframes toTop {
    0% {
        transform: translateZ(0) translateY(0);
    }

    45% {
        transform: translateZ(0) translateY(-500px) scaleY(1.2);
    }

    100% {
        transform: translateZ(0) translateY(0) scale(0.8);
    }
}

@keyframes toBottom {
    0% {
        transform: translateZ(0) translateY(0);
    }

    45% {
        transform: translateZ(0) translateY(500px) scaleY(1.2);
    }

    100% {
        transform: translateZ(0) translateY(0) scale(1.4);
    }
}

@keyframes transform {

    0%,
    100% {
        border-radius: 33% 67% 70% 30% / 30% 40% 70% 70%;
    }

    20% {
        border-radius: 37% 63% 51% 49% / 37% 35% 35% 63%;
    }

    40% {
        border-radius: 36% 64% 64% 36% / 64% 48% 52% 26%;
    }

    60% {
        border-radius: 37% 63% 51% 49% / 30% 30% 70% 73%;
    }

    80% {
        border-radius: 40% 60% 42% 58% / 51% 51% 49% 59%;
    }
}

@keyframes movement_one {

    0%,
    100% {
        transform: none;
    }

    50% {
        transform: translate(50%, 20%) rotateY(10deg) scale(1);
    }
}

@keyframes movement_two {

    0%,
    500% {
        transform: none;
    }

    50% {
        transform: translate(50%, 20%) rotate(-200deg) scale(1.3);
    }
}

@keyframes hideLoader {
    0% {
        opacity: 1;
        display: flex;
        z-index: 100;
    }

    99% {
        opacity: 0;
        display: flex;
        z-index: 100;
    }

    100% {
        opacity: 0;
        display: none !important;
        z-index: -5;
    }
}

@keyframes hideHider {
    0% {
        width: 0;
        opacity: 0;
    }

    50% {
        width: 0;
        opacity: 1;
    }

    100% {
        width: 100%;
        opacity: 0;
    }
}

@keyframes borderFlash {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}