* {
    box-sizing: border-box;
    user-select: none;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;

    display: flex;

    overflow: hidden !important;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: var(--rootBack);
    /* background-image: var(--back-glass-image); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color .3s;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    /* display: none; */

    width: 100vw;
    height: 100vh;
}

input.linkToggle {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 30;

    appearance: none;
    outline: none;
    width: 50px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #D9DADC;
    border-radius: 50px;
    box-shadow: inset -20px 0 0 0 #ffffff;
    transition-duration: 200ms;

    opacity: 0;
}

input.linkToggle:hover {
    opacity: 1;
}

input.linkToggle:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 26px;
    height: 26px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

input.linkToggle:checked {
    border-color: #4ED164;
    box-shadow: inset 20px 0 0 0 #4ED164;
}

input.linkToggle:checked:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}

.loader {
    width: 100vw;
    height: 100vh;

    background: black;
    position: absolute;
    z-index: 100;

    animation-name: hideLoader;
    animation-duration: .5s;
    animation-delay: 1.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.hider {
    /* width: 0; */
    aspect-ratio: 1/1;
    background-color: var(--page0);

    border-radius: 50%;

    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    filter: blur(50px);

    animation-name: hideHider;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes hideLoader {
    0% {
        opacity: 1;
        display: flex;
        z-index: 100;
    }

    99% {
        opacity: 0;
        display: flex;
        z-index: 100;
    }

    100% {
        opacity: 0;
        display: none !important;
        z-index: -5;
    }
}

@keyframes hideHider {
    0% {
        width: 0;
        opacity: 0;
    }

    50% {
        width: 0;
        opacity: 1;
    }

    100% {
        width: 100%;
        opacity: 0;
    }
}

.content {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;

    margin: 0;
    padding: 0;

    overflow: hidden !important;
}

.content.portrait {
    padding-top: 0;
    right: 0;
    margin-bottom: 60px;
}

.content::-webkit-scrollbar {
    width: 0;
    display: none;
}

.headsup {
    position: absolute;
    z-index: 99;
    bottom: 0;
    right: 0;
    width: fit-content;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    gap: 10px;

    font-size: 13px;
    font-weight: bold;

    border-top-left-radius: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    overflow: hidden;

    /* backdrop-filter: blur(10px); */
    color: var(--elem-transp-text);
    opacity: .5;
    transition: .4s;
}

.headsup.portrait {
    height: 50px;
}

.headsup.portrait p {
    width: 350px;
    line-height: 20px;
}

.headsup p {
    width: fit-content;
    flex-shrink: 0;
    opacity: 0;
    padding-right: 6px;

    transition: .2s;
}

.headsup p {
    width: 100%;
    opacity: 1;
}

.headsup a {
    text-decoration: none;
    color: var(--pageBack);

    background-color: rgba(255, 255, 255, 0.682);
    padding: 3px 5px;
    border-radius: 7px;
}