.nbChangelog {
    font-family: FLNTFILL;
    background-color: var(--navBtn-Active);
}

.nbChangelog::before {
    background-color: var(--accent);
}

.nbChangelog::after{
    content: "";
}

.siteUps{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: var(--ff);
}

.siteUps::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    min-height: 50%;
    padding: 0 5%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    color: white;
    overflow: hidden;
    border: none;
}

.suHeader{
    background: var(--abtCoverImage) center/cover no-repeat white;
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 15%);
    mask-image: linear-gradient(to top, transparent 0%, black 15%);

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 50%;
    padding: 0 5%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    color: var(--font);
}

.suhHead{
    font: 700 60px var(--ff);
}

.suhSub{
    font: 500 20px var(--ff);
    opacity: .7;
}

.suhSub a{
    color: var(--accent);
    font-weight: 600;
}

.suBoxes{
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 50%;
    padding: 15px 30px;
    gap: 10px;
}

.suBoxes::before{
    position: absolute;

    content: "Site Changelog";
    font: 700 30px var(--ff);
    color: var(--font);
    padding-bottom: 20px;
}

.suBox{
    box-sizing: border-box;

    width: 550px;
    height: fit-content;

    padding: 15px;
    border-radius: 5px;

    background-color: var(--item3);
    border: 2px solid var(--backBorder);
    color: var(--font);
    margin-top: 60px;
}

.suBox::before{
    content: attr(data-suInfo);
    font: 700 20px var(--ff);
    opacity: .5;
}

.suBox ul{
    width: 94%;
    margin: 10px 0 5px 20px;
    font: 400 15px var(--ff);
}