* {
    user-select: none;
    box-sizing: border-box;

    transition-timing-function: ease;
}

*::-webkit-scrollbar,
::-webkit-scrollbar {
    width: 0;
    display: none;
}

.hidden {
    display: none !important;
}

.ss {
    scroll-behavior: smooth !important;
}

:root {
    --page0: rgb(120, 22, 150);
    --page0-dark: #381558;
    --page0-light: #c13dd0;

    --page1: #007ACC;
    --page1-light: #8bb5d2;
    --page1-dark: #26658f;

    --page2: #f32753;
    --page2-dark: #a01835;
    --page2-light: #eb5575;

    --page3: #1da1f2;

    --page4: rgb(34, 34, 34);
    --page4-prev: rgb(199, 134, 36);

    --pageBack: var(--page0);

    /* misc */

    --radius: 24px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --rootBack: #222;
        --rootBack-clear: #222222aa;
        --containerBack: hsla(0, 0%, 0%, 0.3);
        --containerBord: hsla(0, 0%, 100%, 0.1);

        --transparent-container: rgba(0, 0, 0, .45);

        --glow: rgba(255, 255, 255, .33);

        --elem: rgb(65, 65, 65);
        --elem-sel: rgb(148, 148, 148);
        --elem-text: white;

        --elem-transp: #222222cc;
        --elem-transp-sel: rgba(65, 65, 65, 0.8);
        --elem-transp-text: white;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --rootBack: #EEE;
        --rootBack-clear: #EEEEEEdd;
        --containerBack: hsla(0, 0%, 0%, 0.1);
        --containerBord: hsla(0, 0%, 0%, 0.1);

        --transparent-container: rgba(255, 255, 255, .75);

        --glow: rgba(255, 255, 255, .75);

        --elem: rgb(255, 255, 255);
        --elem-sel: rgb(49, 49, 49);
        --elem-text: black;

        --elem-transp: rgba(255, 255, 255, 0.5);
        --elem-transp-sel: rgba(255, 255, 255, 0.8);
        --elem-transp-text: #222;
    }
}

/* Tile specs */

/* .sbTwitter:hover i {
    color: #1D9BF0 !important;
}

.sbDiscord:hover i {
    color: #5865F2 !important;
}
*/

.sbDeviant:hover i {
    color: #01d13c !important;
    opacity: 1;
}

/*
.sbReddit:hover i {
    color: #FF4501 !important;
}

.sbDribbble:hover i {
    color: #EA4C89 !important;
}

.sbYouTube:hover i {
    color: #ff0000 !important;
}

*/
.sbMedium:hover i {
    color: #ffffff !important;
}

.sbGitHub:hover i {
    color: #9656b0 !important;
    opacity: 1;
}

/*
.sbTwitch:hover i {
    color: #9146FF !important;
}

.sbMastodon:hover i {
    color: #563ACC !important;
} */

.sbTwitter {
    width: 70px;
}

.sbTwitter::after {
    width: 100%;
}

.sbTwitter:hover {
    background-color: #1f1f1f !important;
}

.sbTwitter:hover::after {
    content: '(Not X)';
}

.sbDiscord:hover {
    background-color: #5865F2 !important;
}

.sbDeviant:hover {
    background-color: #2a2a2a !important;
}

.sbReddit:hover {
    background-color: #FF4501 !important;
}

.sbDribbble:hover {
    background-color: #EA4C89 !important;
}

.sbYouTube:hover {
    background-color: #ff0000 !important;
}

.sbMedium:hover {
    background-color: #2a2a2a !important;
}

.sbGitHub:hover {
    background-color: #2a2a2a !important;
}

.sbTwitch:hover {
    background-color: #9146FF !important;
}

.sbMastodon:hover {
    background-color: #563ACC !important;
}

.sbBluesky:hover {
    background-color: #2F84F6 !important;
}

.sbThreads:hover {
    background-color: #2a2a2a !important;
}