@media (prefers-color-scheme: light) {
    :root {
        --root-back: #eee;
        --root-back-contrast: #fff;
        --root-back-b: #ccc;
        --root-back-alpha: #ffffff77;
        --root-border: #0000001a;

        --btn-highlight: #2593e1;

        --root-text: black;
        --root-text-invert: white;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --root-back: #222;
        --root-back-contrast: #333;
        --root-back-b: #444;
        --root-back-alpha: #ffffff11;
        --root-border: #ffffff1a;

        --btn-highlight: #49acee;

        --root-text: white;
        --root-text-invert: black;
    }
}

*,
* *,
*~* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--root-text);

    user-select: none;
}

p {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    appearance: none;
    text-decoration: none;
}

img {
    pointer-events: none !important;
}