.projects-header.aboutme {
    top: calc(50% - 300px);
    left: calc(50% - 250px);

    max-height: 610px !important;
    width: 500px;
    height: 610px !important;

    border-radius: 30px;
    /* background-color: transparent; */

    background-color: var(--elem-transp);
}

.projects-header.aboutme .slider,
.projects-header.aboutme .subTiles {
    opacity: 0;
    filter: blur(10px);
    pointer-events: none;
}

.transition {
    transition: height 0s, width .4s, background-color .4s, border-radius .4s, top .4s, left .4s, max-height .4s !important;
}

.projects-header {
    font-size: 40px;
    height: 50vh;
    width: 98vw;
    flex-shrink: 0;
    max-height: 50vh;
    min-height: 15vh;

    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    color: var(--elem-transp-text);

    position: fixed;
    top: 1vw;
    left: 1vw;
    z-index: 2;

    transition: .4s;

    /* padding: 0 60px; */
    background-color: transparent;
    border-radius: 30px;
}

.projects-header::before {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    background-image: url(../imgs/confetti.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: inherit;

    opacity: 0;
    filter: blur(10px);
    transition: .25s;
}

.projects-header.aboutme::before {
    opacity: 1;
    filter: blur(0px);
}

.projects-header.shrink:not(.hide)::after {
    height: calc(100% + 40px);
    top: -40px;
    border-radius: 0 0 30px 30px;
}

.projects-header:not(.hide)::after {
    content: "";
    width: 100%;
    height: calc(100%);

    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;

    border-radius: 30px;
    box-shadow: inset 0 -10px 50px var(--glow);
    transition: .25s;
}

.projects-header.hide {
    background-color: var(--elem-transp);
    box-shadow: none;
    height: 48vh !important;
    transition: .3s;
}

.projects-header.shrink {
    backdrop-filter: blur(15px);
    height: 15vh;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 0 0 30px 30px !important;
}

.projects-header.hide>*:not(.navBar) {
    opacity: 0 !important;
    filter: blur(10px);
}

.slider {
    width: 100%;
    height: 100%;
    border-radius: 25px;

    display: flex;
    /* flex-wrap: wrap; */
    gap: 2vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    transition: .15s;

    flex-shrink: 0;
}

.slider.freeze {
    overflow: hidden;
}

.slider .ph-slide:not(.slide1) {
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    margin-top: 12px;
}

.slider .ph-slide:last-of-type {
    margin-right: 12px;
}

.projects-header.shrink .slider .progress {
    opacity: 0;
}

.progress {
    width: 140px;
    height: 8px;
    overflow: hidden;
    border-radius: 10px;
    /* background-color: var(--glow); */
    border: 1px solid transparent;
    backdrop-filter: blur(10px);

    box-shadow: 0 0 8px #00000000;

    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    transition: .2s;
}

.progress.scroll {
    box-shadow: 0 0 8px #00000025;
    border: 1px solid var(--glow);
}

.progress .bar {
    content: "";
    position: absolute;
    /* left: 1px; */
    /* top: 1px; */

    height: 100%;
    transition: .15s;
    width: 0;
    height: 6px;
    border-radius: inherit;
    background-color: var(--glow);
    backdrop-filter: saturate(5);

    animation: fader 1s linear 0s infinite alternate;
}

@keyframes fader {
    from {
        background-color: rgba(255, 255, 255, .5);
    }

    to {
        background-color: white;
    }
}

.ph-slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;

    background-color: var(--glow);
    scroll-snap-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;

    box-sizing: border-box;
    border-radius: inherit;
}

.slide1 {
    /* width: 270px; */
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    background-color: transparent;

    /* align-items: center; */
    justify-content: center;
    font-weight: bold;
    color: var(--elem-transp-text);
    /* gap: 0 5px; */

    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */

    /* background-color: purple; */
    transition: .15s;
}

.slide1 div {
    display: flex;
    /* flex-direction: column; */
}

.slide1 div p {
    margin: 0;
    padding: 0;
}

.slide1 .hw {
    animation-name: wave;
    animation-duration: .75s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    /* transform-origin: bottom right; */
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    /* margin-bottom: -15px; */
    transition: .25s;

    /* background-color: white; */
}


.subtext {
    /* content: attr(subtext); */
    font-size: 20px;
    font-weight: 300;
    opacity: .5;

}

@keyframes wave {
    0% {
        transform: rotate(25deg);
    }

    15% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(25deg);
    }

    45% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(25deg);
    }

    75% {
        transform: rotate(0deg);
    }

    90% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.overflowSlide {
    cursor: pointer;

    justify-content: flex-start;
    backdrop-filter: blur(15px);
    z-index: 0;
}

.overflowSlide::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;

    background-image: url(../imgs/24wall.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: inherit;
    transition: .3s;
}

.overflowSlide:hover .info {
    transform: scale(1.1);
}

.overflowSlide .info {
    font-size: 35px;
    font-weight: bold;
    display: flex;
    flex-direction: column;

    color: white;

    background-color: var(--elem-transp);
    box-shadow: 0 5px 10px #00000020;
    backdrop-filter: blur(15px);
    padding: 10px 15px;
    border-radius: 15px;

    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: auto;

    transition: .4s;
    transform-origin: bottom left;
}

.overflowSlide .info::after {
    content: attr(subtext);
    font-size: 22px;
    font-weight: normal;
    opacity: .5;
}

.overflowSlide:hover::before {
    background-size: 110%;
}

.slide3::before {
    background-image: url(../imgs/conceptImgs/img1_feedbackcard.png);
}