.heroImage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide{
    transition: opacity .3s;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    z-index: 9;

    overflow: hidden;
}

/* Slide 1 */

#slide1{
    background: linear-gradient(135deg, var(--fsR), var(--fsP));
    color: white;

    z-index: 10;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.heroTitle{
    margin-top: -3%;

    font-size: 9em;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
}

.heroSubTitle{
    font-size: 2em;
    font-weight: 300;
    font-family: 'Inconsolata', serif;
}

/* Slide 2 */

.post{
    background-color: #1E9BF0;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.slide2Cont{
    width: 60%;
    height: fit-content;
}

.s2cTop{
    display: flex;
    height: fit-content;
    gap: 10px;

    margin-bottom: 10px;
}

.postPFP{
    width: 60px;
    aspect-ratio: 1/1;

    background-image: url("../png-colored-v2-min.png");
    background-size: cover;

    border: 1px solid var(--pageBackgroundColor);
    border-radius: 50%;
}

.twitterLogo{
    background-image: url("https://upload.wikimedia.org/wikipedia/sco/9/9f/Twitter_bird_logo_2012.svg");
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(100) saturate(100);

    width: 30px;
    aspect-ratio: 1/1;

    margin-left: auto;
}

.postTitle{
    position: relative;

    font-size: 27px;
    font-weight: 600;
}

.postTitle::after{
    content: "@Futur3Sn0w";
    opacity: .7;

    position: absolute;
    bottom: 10px;
    left: 0;

    font-size: 18px;
    font-weight: 500;
}

.postText{
    font-size: 25px;
    font-weight: 500;
    
    width: 100%;
}

/* Slide 3 */

#slide3{
    background-color: var(--pageBackgroundColor);
    color: var(--fontColorA);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#slide3::before{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    transform: scale(1.3);

    filter: blur(10px);
    opacity: .4;
        
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../wotwprev.png");
}

#slide3 .heroTitle{
    font-size: 90px;
}

/* Dot indicator */

.slideIndc{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    position: absolute;
    bottom: 5px;
    z-index: 20;
}

.slideDot{
    width: .5em;
    aspect-ratio: 1/1;

    border-radius: 50%;
    background-color: var(--fontColorA);

    opacity: 0;
}

.dotActive{
    width: .5em;
    aspect-ratio: 1/1;

    border-radius: 50%;
    background-color: var(--fontColorA);

    opacity: 0;
}

/* Next/Prev btns */

.slideNav{
    font-size: 40px;

    position: absolute;
    top: 0;
    z-index: 20;

    color: var(--slideInv);
    opacity: 0;

    transition: opacity .3s, transform .2s;

    cursor: pointer;

    height: 100%;
    padding: 0 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.heroImage:hover .slideNav{
    opacity: 1;
    transform: translateX(0) !important;
}

/* Body */

.bodyPost{
    width: 90vw;
    height: fit-content;
    margin: 0 auto;

    padding: 20px;

    border-radius: 10px;
    background-color: var(--buttonHover);
    
    color: var(--fontColorA);
}

.heroHead{
    font-size: 30px;
    font-weight: 700;
}

.heroInfo{
    display: flex;
    flex-direction: column;

    font-size: 14px;
    font-weight: 400;
    opacity: .6;
}

.bodyContent{
    border: 1px solid var(--fontColorA);
    border-radius: 3px;
    padding: 10px;

    margin-top: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bodyContent p{
    margin: 0;
}

.bodyHead{
    font-size: 20px;
    font-weight: 600;
}

.bodyHead:not(:first-of-type){
    margin-top: 15px;
}

.bodyText{
    font-size: 15px;
    font-weight: 400;
}