.heroImage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide{
    transition: opacity .3s;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;

    overflow: hidden;
}

/* Slide 1 */

#slide1{
    background-color: var(--backgroundColor);
    color: var(--fontColorB);

    z-index: 10;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.heroTitle{
    margin-top: -3%;

    font-size: 9em;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
}

.heroSubTitle{
    font-size: 2em;
    font-weight: 300;
    font-family: 'Inconsolata', serif;
}

/* Slide 2 */

.post{
    background-color: var(--fontColorB);
    color: var(--pageBackgroundColor);
}

.postPFP{
    content: '';

    width: 60px;
    aspect-ratio: 1/1;

    background-image: url("../png-colored-v2-min.png");
    background-size: cover;

    border: 1px solid var(--pageBackgroundColor);
    border-radius: 50%;

    position: absolute;
    top: 20px;
    left: 0px;
}

.twitterLogo{
    background-image: url("https://upload.wikimedia.org/wikipedia/sco/9/9f/Twitter_bird_logo_2012.svg");
    background-size: contain;
    background-repeat: no-repeat;
    filter: var(--colorFilter);

    width: 30px;
    aspect-ratio: 1/1;

    position: absolute;
    right: 25px;
    top: 25px;
}

.postTitle{
    position: absolute;
    top: 25px;
    left: 70px;

    font-size: 27px;
    font-weight: 600;
}

.postTitle::after{
    content: "@Futur3Sn0w";
    opacity: .7;

    position: absolute;
    bottom: -20px;
    left: 0;

    font-size: 18px;
    font-weight: 500;
}

.postText{
    position: absolute;
    top: 105px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 25px;
    font-weight: 500;
    
    width: 100%;
}

.slide2Cont{
    width: 60%;
    position: relative;
    margin: 0 auto;
}

/* Slide 3 */

#slide3{
    background-color: var(--pageBackgroundColor);
    color: var(--fontColorA);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#slide3::before{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    transform: scale(1.3);

    filter: blur(10px);
    opacity: .4;
        
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../wotwprev.png");
}

#slide3 .heroTitle{
    font-size: 90px;
}

/* Dot indicator */

.slideIndc{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    position: absolute;
    bottom: 5px;
    z-index: 20;
}

.slideDot{
    width: .5em;
    aspect-ratio: 1/1;

    border-radius: 50%;
    background-color: var(--fontColorA);

    opacity: 0;
}

.dotActive{
    width: .5em;
    aspect-ratio: 1/1;

    border-radius: 50%;
    background-color: var(--fontColorA);

    opacity: 0;
}

/* Next/Prev btns */

.slideNav{
    font-size: 40px;

    position: absolute;
    top: 0;
    z-index: 20;

    color: var(--slideInv);
    opacity: 0;

    transition: opacity .3s, transform .2s;

    cursor: pointer;

    height: 100%;
    padding: 0 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.heroImage:hover .slideNav{
    opacity: 1;
    transform: translateX(0) !important;
}