.nbLiveFeed{
    font-family: FLNTFILL;
    background-color: var(--navBtn-Active);
}

.nbLiveFeed::before {
    background-color: var(--accent);
}

.nbLiveFeed::after{
    content: "";
}

.liveFeedMain{
    display: flex;
    align-items: center;
    justify-content: center;
}