* {
    box-sizing: border-box;
    --outer-radi: 20px;
    --inner-radi: 10px;
    --content-height: 100vh;
    --nav-height: 10vh;
    --z-nav: 10;
    --z-cont: 8;
    --ff: -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    background: var(--back);
    overflow: hidden;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: transparent;
}

@media (prefers-color-scheme: dark) {
     :root {
        --auto-bw: hsl(0, 0%, 0%);
        --projCard: rgb(54, 54, 54);
        --font: hsl(0, 0%, 100%);
        --back: hsla(0, 0%, 0%, 0.25);
        --nav-back: hsla(0, 0%, 0%, 0.8);
        --transp: hsla(0, 50%, 36%, 0.5);
        --card: hsla(0, 0%, 0%, 0.667);
        --anim-back: hsl(213, 19%, 11%);
        --herotitle-back: hsl(213, 19%, 13%);
        --nb-back: hsl(213, 19%, 11%);
        --anim-obj: hsla(211, 26%, 31%, 20%);
        --actBtn-rest: rgb(255, 255, 255);
        --actBtn-hov: rgb(216, 216, 216);
        --accent: #91C3FE;
        --accent-text: #c2defe;
        --border-clr: hsla(0, 0%, 80%, 0.7);
        --border-clr-2: hsla(0, 0%, 0%, 0.25);
        --hero: url("../imgs/adark.png");
        --logo: brightness(100);
        --rest: hsla(256, 55%, 25%, 0.5);
        --hov: hsl(211, 26%, 31%);
        --active: hsla(256, 55%, 1%, 0.5);
        --mbm: color-dodge;
        --nbFilter: brightness(0%);
        --logoColor: invert(79%) sepia(24%) saturate(372%) hue-rotate(180deg) brightness(304%) contrast(99%);
    }
}

@media (prefers-color-scheme: light) {
     :root {
        --auto-bw: hsl(100, 100%, 100%);
        --projCard: rgb(255, 255, 255);
        --font: hsl(0, 0%, 0%);
        --back: hsl(0, 0%, 100%, 0.25);
        --nav-back: hsl(0, 0%, 100%, 0.8);
        --transp: hsla(0, 0%, 100%, 0.4);
        --card: hsla(0, 0%, 100%, 0.667);
        --anim-back: #EAF1F7;
        --herotitle-back: hsl(208, 45%, 88%);
        --nb-back: hsl(208, 45%, 94%);
        --anim-obj: hsla(211, 59%, 80%, 30%);
        --actBtn-rest: rgb(255, 255, 255);
        --actBtn-hov: rgb(216, 216, 216);
        --accent: #255ED3;
        --accent-text: #16397e;
        --border-clr: hsla(0, 0%, 63%, 0.9);
        --border-clr-2: rgba(0, 0, 0, 0.25);
        --hero: url("../imgs/alight.png");
        --logo: brightness(0);
        --rest: hsla(256, 16%, 40%, 0.5);
        --hov: hsl(211, 59%, 80%);
        --active: hsla(256, 16%, 55%, 0.5);
        --mbm: color-burn;
        --nbFilter: brightness(100%);
        --logoColor: invert(17%) sepia(22%) saturate(5590%) hue-rotate(207deg) brightness(65%) contrast(96%);
    }
}

::-webkit-scrollbar {
    width: 7px;
    height: 0;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--font);
    border-radius: 100px;
    padding: 0 0 10px 0;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.hidden{
    display: none !important;
}

.homePages {
    display: flex;
    flex-direction: column;
}

.homePageDiv {
    position: absolute;
    top: 0;
    right: 0;
    z-index: var(--z-cont);
    box-shadow: 0px 15px 30px -10px rgba(0, 0, 0, 0.1);
    color: var(--font);
    height: var(--content-height);
}

.logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    background-color: var(--accent);
}

#logo {
    box-sizing: border-box;
    box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.40);
    transition-duration: .2s;
    width: 30px;
    height: 30px;
    filter: var(--nbFilter);
}

.nbpcName {
    display: flex;
    align-items: center;
    padding: 6.5px 5px;
    font: bold 25px var(--ff);
    height: fit-content;
    margin-right: auto;
    margin-left: 5px;
}

.nbpcName::after{
    content: attr(data-pageName);
}

.socialBar {
    width: max-content;
    height: 100%;
    margin-left: auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-self: flex-end;
    transition: opacity .2s;
    color: var(--accent);
}

.socialBar .fa {
    font-size: 1.2em;
    text-decoration: none;
    transition: color .2s;
    color: inherit;
}

.socialBar a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
}

.navBar {
    height: 50px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    z-index: var(--z-nav);
    overflow: hidden;
    color: var(--accent);
    background-color: var(--auto-bw);
}

.navBtnWrapper {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: fit-content;
    gap: 5px;
    z-index: inherit;
}

.navButton {
    width: max-content;
    height: 100%;
    width: 130px;
    font: 25px FLNTREG;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent);
    cursor: pointer;
    overflow: hidden;
    font: 600 18px var(--ff);
    cursor: pointer;
    transition: color .1s;
}

.navButton:hover{
    color: var(--auto-bw);
}

.navButton::after{
    position: absolute;
    bottom: 2px;
    content: "";
    width: 60px;
    height: 5px;
    border-radius: 50px;
    z-index: -5;
    transition: .2s;
    background-color: transparent;
}

.navButton:hover::after{
    width: 130px;
    height: 50px;
    bottom: 0;
    border-radius: 0;
    background-color: var(--accent-text);
}

span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 800ms linear;
    background-color: rgba(255, 255, 255, .5);
    filter: blur(20px);
}

.nbProfileCard {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: fit-content;
    align-items: center;
    justify-content: flex-start;
}

@font-face {
    font-family: FLNTFILL;
    src: url(../fonts/fluent_filled.ttf);
}

@font-face {
    font-family: FLNTREG;
    src: url(../fonts/fluent_reg.ttf);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

@media screen and (max-width: 600px) {
    .hbWrapper {
        width: 100%;
        height: 85%;
        position: absolute;
        top: 0;
        border-radius: 0;
    }
}

@media screen and (max-width: 700px) {
    .navBar{
        top: unset;
        bottom: 0;
    }
    
    .navButton{
        width: 60px;
        font-size: 0;
    }

    .navButton:hover::after{
        position: absolute;
        bottom: 2px;
        content: "";
        width: 60px;
        height: 5px;
        border-radius: 50px;
        z-index: -5;
        transition: .2s;
        background-color: transparent;
    }

    .navButton:hover{
        color: var(--accent-text);
    }

    .navButton::before{
        font: 23px FLNTFILL;
    }

    .nbHome::before{
        content: "";
    }

    .nbProjects::before{
        content: "";
    }

    .nbAbout::before{
        content: "";
    }
}

@media screen and (max-width: 869px) {
    .socialBar{
        display: none;
    }
    .nbpcUserName{
        display: none;
    }
}

#sb1:hover {
    color: #ff40a3;
}

#sb2:hover {
    color: #8c40ff;
}

#sb3:hover {
    color: #40a9ff;
}

#sb4:hover {
    color: #00D38F;
}

#sb5:hover {
    color: #eb4d4d;
}

#sb6:hover {
    color: #8c40ff;
}

#sb7:hover {
    color: #FF7000;
}

#sb8:hover {
    color: #9147FF;
}