* {
    box-sizing: border-box;
    --outer-radi: 20px;
    --inner-radi: 10px;
    --content-height: 100vh;
    --top-height: 55px;
    --side-width: 75px;
    --z-nav: 10;
    --z-cont: 8;
    --ff: -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    background: var(--nav-back);
    overflow: hidden;
}

a {
    text-decoration: none;
    color: unset;
}

button {
    border: none;
    background: transparent;
}

@media (prefers-color-scheme: dark) {
     :root {
        --auto-bw: hsl(0, 0%, 0%);
        --font: hsl(0, 0%, 100%);

        --nav-back: hsl(0, 0%, 6%);
        --back: hsl(30, 33%, 2%);
        --backBorder: hsl(20, 0%, 10%);

        --item1: hsla(24, 27%, 31%, 0.2);
        --item2: hsl(0, 0%, 40%);
        --item3: hsl(0, 0%, 0%);
        --item3-hov: hsl(0, 0%, 10%);
        --aboutCard: hsl(60, 33%, 1%);

        --accent: #ff7d32;
        --accent-text: #d4a380;

        --abtCoverImage: url("../imgs/adark.png");
        --logoColor: brightness(0%) invert(79%) sepia(26%) saturate(4239%) hue-rotate(320deg) brightness(103%) contrast(92%);

        --navBtn-Active: rgb(90, 90, 90);
        --navBtn-Hover: rgba(90, 90, 90, 0.5);
    }
}

@media (prefers-color-scheme: light) {
     :root {
        --auto-bw: hsl(100, 100%, 100%);
        --font: hsl(0, 0%, 0%);

        --nav-back: hsl(0, 0%, 95%);
        --back: hsl(220, 27%, 98%);
        --backBorder: hsl(200, 12%, 90%);

        --item1: hsl(32, 59%, 80%);
        --item2: hsl(32, 16%, 40%);
        --item3: hsl(0, 0%, 100%);
        --item3-hov: hsl(0, 0%, 97%);
        --aboutCard: hsl(240, 33%, 99%);

        --accent: hsl(34, 70%, 49%);
        --accent-text: hsl(29, 63%, 45%);

        --abtCoverImage: url("../imgs/alight.png");
        --logoColor: brightness(0%) invert(69%) sepia(16%) saturate(4473%) hue-rotate(347deg) brightness(89%) contrast(85%);

        --navBtn-Active: hsl(0, 0%, 100%);
        --navBtn-Hover: hsla(0, 0%, 100%, 0.5);
    }
}

::-webkit-scrollbar {
    width: 7px;
    height: 0;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--font);
    border-radius: 100px;
    padding: 0 0 10px 0;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.hidden{
    display: none !important;
}

/* Mobile splash */

.mobileDisclaimer{
    position: absolute;
    top: 0;
    left: 0;

    z-index: 1000;
    width: 100vw;
    height: 100vh;
    gap: 20px;

    background-color: #0076d6;
    color: white;

    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 8vw;
}

.mdHead{
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 46vh;
    margin-left: 10%;
    gap: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.mdh1{
    font: 400 130px var(--ff);
}

.mdh2{
    font: 400 30px var(--ff);
}

.mdh3{
    font: 400 17px var(--ff);
    max-width: 45ch;
}

.mdQR{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 46vh;

    margin-left: 10%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.mdQR img{
    width: 150px;
}

.qrInfo{
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    height: 150px;
    width: 70%;

    color: white;
    font: 400 15px var(--ff);
}

.qri1{
    margin-bottom: auto;
}

.qri2{
    margin-bottom: 20px;
}

/* Meta */

.topLevelPage{
    background-color: var(--back);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 11;
    width: calc(100vw - var(--side-width));
    height: calc(100vh - var(--top-height));
    border-left: 2px solid var(--backBorder);
    border-top: 2px solid var(--backBorder);
    overflow: hidden;
    border-top-left-radius: 10px;
}

.topLevelPage::after{
    content: attr(data-pageName);
    position: fixed;
    top: 12%;
    left: calc(5% + var(--side-width));
    color: white;
    font: 600 22px var(--ff);
}

/* Header bar */

.topNav{
    box-sizing: border-box;
    width: 100vw;
    height: var(--top-height);
    background-color: var(--nav-back);
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 6px 23px;
}

.logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

#logo {
    box-sizing: border-box;
    transition-duration: .2s;
    width: 25px;
    height: 25px;
}

.nbpcName {
    display: flex;
    font: 600 16px var(--ff);
    height: min-content;
    width: max-content;
    margin-left: 20px;
    color: var(--font);
}

/* Sidebar */

.navBar {
    height: calc(100vh - var(--top-height));
    width: var(--side-width);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
    overflow: hidden;
    color: var(--accent);
    background-color: var(--nav-back);
    padding-bottom: 15px;
}

.navBtnWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 100%;
}

.navButton {
    height: 55px;
    width: 60px;
    font: 400 25px FLNTREG;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent);
    cursor: pointer;
    cursor: pointer;
    position: relative;
    transition: background-color .1s;
    border-radius: 5px;
}

.navButton::before{
    content: "";
    height: 30px;
    width: 8px;
    border-radius: 50px;
    background-color: transparent;
    position: absolute;
    left: 0;
}

.navButton::after{
    content: attr(data-navBtnName);
    position: absolute;
    font: 400 10px var(--ff);
    bottom: 0;
}

.navButton:hover{
    background-color: var(--navBtn-Hover);
}

.nbAbout{
    margin-top: auto;
}

.socialBtnBar{
    position: absolute;
    z-index: 100;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    background-color: var(--nav-back);
    border-radius: 50px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.30);
    transition: .3s;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font);
}

.socialBtnBar p{
    position: absolute;
    font: 400 25px FLNTFILL;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialBtnBar:hover{
    border-radius: 60px;
    width: 270px;
    height: 60px;
    box-shadow: 0px 7px 7px -1px rgba(0, 0, 0, 0.4);
}

.socialBtnBar:hover p{
    display: none;
}

.socialBtnBar:hover .socialBar{
    opacity: 1;
}

.socialBar {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-self: flex-end;
    transition: opacity .2s;
    opacity: 0;
    background-color: inherit;
    z-index: 0;
}

.socialBar .fa {
    font-size: 1.2em;
    text-decoration: none;
    transition: color .2s;
    color: inherit;
}

.socialBar a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
}

/* Logo bar colors */

#sb1:hover {
    color: #ff40a3;
}

#sb2:hover {
    color: #8c40ff;
}

#sb3:hover {
    color: #40a9ff;
}

#sb4:hover {
    color: #00D38F;
}

#sb5:hover {
    color: #eb4d4d;
}

#sb6:hover {
    color: #8c40ff;
}

#sb7:hover {
    color: #FF7000;
}

#sb8:hover {
    color: #9147FF;
}

/* Fonts */

@font-face {
    font-family: FLNTFILL;
    src: url(../fonts/fluent_filled.ttf);
}

@font-face {
    font-family: FLNTREG;
    src: url(../fonts/fluent_reg.ttf);
}

/* Media queries */

@media screen and (max-width: 1300px) {
    .mobileDisclaimer{
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .topLevelPage{
        background-color: var(--back);
        position: absolute;
        bottom: unset;
        top: 0;
        right: 0;
        z-index: 11;
        width: 100vw;
        height: calc(100vh - var(--top-height));
        border: none;
        overflow: hidden;
        border-top-left-radius: 0;
    }

    .topNav{
        display: none;
    }

    .navBar{
        top: unset;
        bottom: 0;
        left: 0;
        padding: 0;

        z-index: 12;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);

        width: 100vw;
        height: 60px;
    }

    .navBtnWrapper{
        flex-direction: row;
    }
    
    .navButton{
        width: 60px;
    }

    .navButton::before{
        content: "";
        height: 8px;
        width: 30px;
        border-radius: 50px;
        background-color: transparent;
        position: absolute;
        bottom: 0;
        left: unset;
    }

    .nbAbout{
        margin-top: 0;
    }

    .navButton::after{
        display: none;
    }

    .socialBtnBar{
        width: 50px;
        height: 50px;
        bottom: 75px;
    }
}