.pb1::before {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(#E9891DCC, #E82977CC, #00ABD0CC), url("../imgs/previews/1.png");
    height: 100%;
}

.pb2::before {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(#031770CC, #65A5E5CC), url("../imgs/previews/2.jpeg");
    height: 100%;
}

.pb3::before {
    background-size: cover;
    background-position: bottom;
    background-image: linear-gradient(#7ba9c9CC, #0d395fCC), url("../imgs/previews/3.jpeg");
    width: 100%;
}

.pb4::before {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(#B1BBA4CC, #434554CC), url("../imgs/previews/4.jpeg");
    width: 100%;
}

.pb5::before {
    background-size: cover;
    background-position: bottom;
    background-image: linear-gradient(#A2EED0CC, #6D8376CC), url("../imgs/previews/5.jpeg");
    width: 100%;
}

.pb6::before {
    background-size: cover;
    background-position: bottom;
    background-image: linear-gradient(#FDB845CC, #FC4B44CC, #4D4680CC), url("../imgs/previews/6.jpeg");
    width: 100%;
}

.pb7::before {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(#3C4E64CC, #91C3FECC), url("../imgs/previews/7.png");
    width: 100%;
}

.pb8::before {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(#341656CC, #172D42CC), url("../imgs/previews/8.jpeg");
    width: 100%;
}

.pb9::before {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(#59898DCC, #DE5159CC), url("../imgs/previews/9.jpeg");
    width: 100%;
}

.pb10::before {
    background-size: cover;
    background-position: bottom;
    background-image: linear-gradient(#135A8CCC, #5BA290CC), url("../imgs/previews/10.jpeg");
    width: 100%;
}

.pb11::before {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(#51FCBDCC, #7838D4CC), url("../imgs/previews/11.jpeg");
    width: 100%;
}

.pb12::before {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(#FA904FCC, #471781CC), url("../imgs/previews/12.jpeg");
    width: 100%;
}

.pb13::before {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(#E9285CCC, #9C16A6CC), url("../imgs/previews/13.jpeg");
    width: 100%;
}

.pb14::before {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(#DD4290CC, #C6242CCA), url("../imgs/previews/14.png");
    width: 100%;
}

.pb15::before {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(#51FCBDCC, #7838D4CC), url("../imgs/previews/15.png");
    height: 100%;
}

.pb16::before {
    background-size: cover;
    background-position: left;
    background-image: linear-gradient(#51FCBDCC, #7838D4CC), url("../imgs/previews/16.png");
    height: 100%;
}

.pb17::before {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(#7ba9c9CC, #0d395fCC), url("../imgs/previews/17.png");
    height: 100%;
}

.pb18::before {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(#7ba9c9CC, #0d395fCC), url("../imgs/previews/18.png");
    height: 100%;
}