#pbHeader18 i{
    background-color: hsl(200, 12%, 38%);
}

#pbHeader17 i{
    background-color: hsl(232, 71%, 62%);
}

#pbHeader16 i{
    background-color: hsl(209, 21%, 66%);
}

#pbHeader15 i{
    background-color: hsl(171, 63%, 35%);
}

#pbHeader14 i{
    background-color: hsl(359, 62%, 51%);
}

#pbHeader13 i{
    background-color: hsl(247, 79%, 22%);
}

#pbHeader12 i{
    background-color: hsl(25, 63%, 63%);
}

#pbHeader11 i{
    background-color: hsl(14, 99%, 65%);
}

#pbHeader10 i{
    background-color: hsl(291, 73%, 54%);
}

#pbHeader9 i{
    background-color: hsl(356, 71%, 61%);
}

#pbHeader8 i{
    background-color: hsl(260, 60%, 21%);
}

#pbHeader7 i{
    background-color: hsl(212, 25%, 31%);
}

#pbHeader6 i{
    background-color: hsl(345, 2%, 44%);
}

#pbHeader5 i{
    background-color: hsl(173, 25%, 43%);
}

#pbHeader4 i{
    background-color: hsl(264, 13%, 30%);
}

#pbHeader3 i{
    background-color: hsl(235, 99%, 70%);
}

#pbHeader2 i{
    background-color: hsl(214, 62%, 52%);
}

#pbHeader1 i{
    background-color: hsl(345, 68%, 48%);
}