.nbProjects {
    font-weight: bolder;
}

.nbProjects::after {
    background-color: var(--accent-text);
}

/* Project view lightbox */

.psViewer{
    height: fit-content;
    position: fixed;
    bottom: 100%;
    left: 50%;
    z-index: 1000;
    width: 700px;
    max-height: 700px;
    margin-top: auto;
    margin-left: -350px;
    background-color: var(--projCard);
    opacity: 0;
    border-radius: 20px 20px 0 0;
    transition: bottom .4s, box-shadow .3s, opacity .6s;
    padding: 35px 35px 45px 35px;
    display: flex;
    flex-direction: column;
    color: var(--font);
}

.psViewerBack{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    transition: background-color .2s;
}

.psViewer .pbHeader{
    font-size: 40px;
}

.psViewer .pbHeader i{
    font-size: 30px;
    margin-right: 20px;
}

.psViewer .pbDate{
    font-size: 20px;
    margin-bottom: 10px;
}

.psViewer .pbDesc{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    max-height: 370px;
    margin-bottom: 30px;
    overflow: scroll;
    color: var(--font);
}

.psViewer .pbActions{
    box-sizing: content-box;
    gap: 5px;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.psViewer .pbActions .pbAct{
    background-color: transparent;
    color: var(--auto-bw);
    height: 40px;
    border: 3px solid var(--accent);

    width: 150px;
    padding: 0 12px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border .2s, background .1s, box-shadow .1s;
    text-decoration: none;
    font: 700 14px var(--ff);
    color: var(--font);
}

.psViewer .pbActions .pbAct:hover{
    background-color: var(--accent);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    color: var(--auto-bw);
}

/* Project strip & box styling (Main page) */

.psWrapper {
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    background: var(--back);
    padding: 20px 10px 25px 10px;
    top: unset;
    bottom: 0;
}

.projectBox {
    box-sizing: border-box;
    background: var(--card);
    height: 300px;
    width: 340px;
    padding: 15px 5px 70px 15px;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    border: 3px solid hsla(0, 0%, 0%, 10%);
}

.projectBox::before {
    width: 100%;
    height: 100%;
    content: ' ';
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    border-radius: 6px;
    opacity: 1;
    z-index: 0;
    transition: .3s;
}

.projectBox:hover .pbContentWrapper{
    background: #000000BB;
}

.pbContentWrapper {
    position: absolute;
    padding: 12px 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: min-content;
    flex: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);
    background: #00000040;
    z-index: 1;
    color: white;
    transform: translateY(calc(100% - 60px));
    transition: transform .3s, background .2s;
}

.pbHeader {
    font: bold 17px var(--ff);
    margin: 0 15px 0 0;
}

.pbDesc {
    margin: 10px 0;
    font: 400 15px var(--ff);
    z-index: 1;
    padding: 0 8px 0 0;
    color: white;
    display: none;
}

.pbDate {
    font: 13px var(--ff);
    opacity: .5;
}

.pbHeader :is(.fa,
.fas) {
    margin: 0 7px 0 0;
    font-size: 14px;
    z-index: 1;
}

.pbActions {
    display: none;
}

.pbSpacer{
    display: none;
}

/* Filter Bar */

.filterBar{
    position: absolute;
    z-index: 200;
    top: 50px;
    left: 0;
    width: 100vw;
    height: fit-content;
    background-color: var(--auto-bw);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 20px;
}

.pfSearchbar{
    border: 1px solid rgb(179, 179, 179);
    border-radius: 4px;
    outline: none;
    font: 400 16px var(--ff);
    padding: 5px 10px;
    width: 330px;
}

#projFilterBox{
    border: 1px solid rgb(179, 179, 179);
    outline: none;
    font: 400 16px var(--ff);
    padding: 4px 10px;
    border-radius: 50px;
}

.pfClear{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-left: 5px;
    border: 1px solid rgb(146, 146, 146);
    transition: background-color .1s, color .1s;
    font: 15px FLNTREG;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font);
    cursor: pointer;
    display: none;
}

.pfClear::after{
    content: "";
}

.pfClear:hover{
    background-color: var(--accent);
    color: var(--auto-bw);
}

@media screen and (max-width: 747px) {

    .filterBar{
        top: unset;
        bottom: 50px;
    }

    .psViewer{
        width: 100%;
        left: 0;
        margin: 0 0;
    }
    .psWrapper {
        height: 100vh;
        width: 100%;
        padding: 10px 10px 105px 10px;
    }
    .psContent {
        margin: 10px;
        justify-content: center;
    }
    .projectBox {
        width: 100%;
        flex: 0 1 100%;
    }
}