.subTiles {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    width: 556px;
    height: max-content;
    max-height: 100%;
    overflow-y: scroll;
    margin-bottom: auto;
    flex-shrink: 0;

    box-sizing: border-box;
    padding: 40px;

    position: relative;
    flex-shrink: 0;
    z-index: 100;
    gap: 45px 25px;

    opacity: 0;
    transition: .4s;

    &.hide {
        opacity: 0;
        bottom: -10px;
        pointer-events: none;
    }

    .tile {
        position: relative;
        height: 60px;
        width: 60px;
        flex-shrink: 0;
        gap: 8px;
        padding: 5px 15px !important;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--elem-transp);
        border-radius: 17px;
        text-decoration: none;
        color: white;
        box-sizing: border-box;

        transition: .35s;

        &:hover {
            display: flex;

            &::after {
                opacity: .5;
            }

            &>p {
                font-weight: bold;
            }
        }

        &:active {
            border-radius: 30px !important;
            transform: scale(.95) !important;
        }

        &::before {
            content: '';

            position: absolute;
            z-index: 5;

            width: 100%;
            height: 100%;
            border-radius: inherit;

            mix-blend-mode: overlay;
            background: linear-gradient(to bottom, transparent, black);
            opacity: .4;
        }

        &::after {
            content: '';

            position: absolute;
            z-index: 5;

            width: 100%;
            height: 100%;
            border-radius: inherit;

            transition: .2s;
            mix-blend-mode: screen;
            background: radial-gradient(circle farthest-corner at center -20px, white, transparent);
            opacity: .25;
        }

        &>p {
            font-size: 13px;

            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            transition: .2s;

            position: absolute;
            bottom: -20px;
            z-index: 2;

            color: var(--root-text);

            &::after {
                color: transparent;
                position: absolute;
                transition: .2s;
            }
        }

        i {
            font-size: 32px;

            &::before {
                color: white;
            }

            z-index: 10;
            position: relative;
            /* bottom: -27%; */
            /* right: 0; */

            transition: .3s;
        }
    }
}

/* Tile specs */

/* .sbTwitter:hover i {
    color: #1D9BF0 !important;
}

.sbDiscord:hover i {
    color: #5865F2 !important;
}
*/

.sbDeviant:hover i {
    color: #01d13c !important;
    opacity: 1;
}

/*
.sbReddit:hover i {
    color: #FF4501 !important;
}

.sbDribbble:hover i {
    color: #EA4C89 !important;
}

.sbYouTube:hover i {
    color: #ff0000 !important;
}

*/
.sbMedium:hover i {
    color: #ffffff !important;
}

.sbGitHub:hover i {
    color: #9656b0 !important;
    opacity: 1;
}

/*
.sbTwitch:hover i {
    color: #9146FF !important;
}

.sbMastodon:hover i {
    color: #563ACC !important;
} */

.sbTwitter {
    width: 70px;
}

.sbTwitter {
    background-color: #1f1f1f !important;
}

.sbTwitter:hover {
    p {
        color: transparent;

        &::after {
            content: '(Not X)';
            color: var(--root-text);
        }
    }
}

.sbDiscord {
    background-color: #5865F2 !important;
}

.sbDeviant {
    background-color: #2a2a2a !important;

    & i::before {
        color: #01E49A !important;
        filter: none !important;
    }
}

.sbReddit {
    background-color: #FF4501 !important;
}

.sbDribbble {
    background-color: #EA4C89 !important;
}

.sbYouTube {
    background-color: #ff0000 !important;
}

.sbMedium {
    background-color: #2a2a2a !important;
}

.sbGitHub {
    background-color: #2a2a2a !important;
}

.sbTwitch {
    background-color: #9146FF !important;
}

.sbMastodon {
    background-color: #563ACC !important;
}

.sbBluesky {
    background-color: #2F84F6 !important;
}

.sbThreads {
    background-color: #2a2a2a !important;
}