.heroTitle{
    font-size: 90px;
}

.heroImage{
    animation-name: colorFade;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    background: none;
}

.heroHeader{
    font-size: 40px;
    font-weight: 600;
    margin: 10px 0 15px 0;

    position: relative;
    z-index: 2;
}

.heroBody{
    overflow: hidden;
}

.backdropPrev{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;
    transform: scale(1.3);

    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url("../wotwprev.png");

    filter: blur(10px);
    opacity: .4;
}

.wallPrev{
    display: flex;
    align-items: center;
    gap: 10px;

    position: relative;
    z-index: 2;
}

.wallPrevImg{
    width: 250px;
    aspect-ratio: 16/9;
    margin: 5px;

    padding: 5px;
    box-shadow: 
    0 0 0 5px var(--pageBackgroundColor),
    0 0 0 6px var(--fontColorA);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../wotwprev.png");

    cursor: pointer;

    position: relative;
}

.wiName{
    font-size: 25px;
    font-weight: 600;
}

.wiAuth{
    font-size: 20px;
    font-weight: 500;
    opacity: .7;
    
    display: flex;
    flex-direction: column;
}