.subTiles2 {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    height: max-content;
    max-height: 260px;
    flex-shrink: 0;
    gap: 18px;
    overflow-x: scroll;
    overflow-y: visible !important;

    position: relative;

    margin: 0;
    margin-right: auto;

    padding: 10px 0;
    box-sizing: border-box;
    transition: .2s;
}

.ss {
    scroll-behavior: smooth !important;
}

.subTiles2.temphide {
    opacity: 0 !important;
}

.subTiles2.showall {
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    grid-gap: 1rem;
    justify-content: space-between;
    align-content: flex-start;

    max-height: 100%;
    width: max-content;
    max-width: calc(100% - 260px);
    overflow: visible !important;
    padding: 15px;
    border-radius: 15px;

    margin-left: 270px;

    background-color: var(--transparent-container);
}

.subTiles2::after {
    content: "";
    flex: auto;
}

.subTileRows {
    margin-top: calc(70vh - 60px);
    padding-bottom: 20px;
    padding-top: 70px;

    position: relative;
    z-index: -1;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    transition: .2s;
}

.subTileRows::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    opacity: .9;
    background: linear-gradient(transparent, var(--rootBack) 300px);
}

.content.aboutme .subTileRows {
    filter: blur(10px);
    opacity: 0;
    pointer-events: none;

    margin-top: 80vh;
}

.projectBox#TEMP {
    display: none;
}

.subTiles2#musicProjects .projectBox:not(.pbIndex) {
    width: 150px;
    height: 170px;
}

.subTiles2#musicProjects .projectBox:not(.pbIndex).selected::after {
    height: calc(100% + 21px);
}

.subTiles2#musicProjects .projectBox:not(.pbIndex) .projImg {
    width: 150px;
    height: 150px;
}

.subTiles2#musicProjects .projectBox:not(.pbIndex) .projTitle {
    font-size: 14px;
    transform: translateY(-2px);
}

.projectBox {
    width: 240px;
    height: 160px;
    background-color: var(--transparent-container);
    /* backdrop-filter: blur(20px); */
    border-radius: 12px;
    color: var(--elem-transp-text);

    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    position: relative;
    cursor: pointer;
    z-index: 1;

    transition: .25s;
}

.projectBox.ru::before {
    content: "";
    width: 10px;
    height: 10px;

    background-color: red;
    border-radius: 50%;

    position: absolute;
    z-index: 10;
    bottom: 12px;
    left: 12px;
}

.projectBox:hover {
    /* background-color: white; */
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.3);
    /* transform: scale(1.1); */
    /* margin: 7px 0; */
    /* width: 360px; */
}

.projectBox.selected {
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--elem);
    /* transition: .2s; */
    /* height: 155px; */
    /* width: 212px; */
    /* padding: 10px; */
    /* padding-top: 20px; */
    /* margin: 8px 0; */
    /* padding: 0; */
}

.projectBox.selected::after {
    content: "";
    width: calc(100% + 10px);
    height: calc(100% + 16px);

    position: absolute;
    bottom: -5px;
    left: -5px;
    z-index: 10;

    border-radius: 15px 15px 17px 17px;
    box-sizing: border-box;
    pointer-events: none;
    border: 5px solid white;

    animation-name: borderFlash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
}

@keyframes borderFlash {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.projectBox.selected .projTitle {
    margin-bottom: 5px;
}

.projectBox .projTitle {
    font-size: 16px;
    font-weight: bold;
    transition: .2s;
}

.projectBox .projDesc {
    font-size: 12px;
    font-weight: normal;
    height: fit-content;
    width: 170px;
    position: relative;
    z-index: 4;
    padding-bottom: 13px;
    transition: .2s;

    display: none;
    /* background-color: purple; */
}

.projectBox .projDesc::after {
    content: attr(data-lastUpdate);
    display: none;
}

.projectBox:not(.selected):hover .projImg {
    transform: translateY(-10px) scale(1.05);
}

.projectBox .projImg {
    height: 130px;
    width: 240px;
    flex-shrink: 0;
    object-fit: cover;

    transform: translateY(-10px);
    z-index: 2;
    border-radius: 10px;
    /* background-color: purple; */

    transition: .2s;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--elem);
}

.subTiles2.showall .pbIndex {
    position: absolute;
    z-index: 100;
    /* height: 100%; */

    height: 160px;
    left: -270px;
}

.pbIndex {
    /* pointer-events: none; */
    user-select: none;
    padding: 10px;
    background-color: transparent;
    align-items: center;
    width: 220px !important;
    margin-left: 20px;
    overflow: visible;
    height: fit-content;
    box-shadow: none !important;
    cursor: default;

    position: sticky;
    top: 0;
    left: 0;

    transform: scale(var(--scaleVal));
    transform-origin: center left;

    color: var(--elem-transp-text);

    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    /* transition: .25s; */
}

.pbIndex.hide {
    opacity: 0 !important;
    filter: blur(1);
}

.pbIndex::after {
    content: "";
    width: 240px;
    height: 120px;

    border-radius: inherit;
    background: radial-gradient(var(--glow) 30%, transparent);
    filter: blur(15px);
    position: absolute;
    z-index: -1;
}

.showallBtn {
    display: none;
    margin-top: 10px;
    padding: 5px 15px;

    background-color: rgba(0, 0, 0, .5);
    color: white;
    font-size: 13px;
    border-radius: 50px;

    cursor: pointer;
}

.showallBtn:active {
    transform: scale(.9);
}

.showallBtn.show {
    display: flex;
}

.pbIndex .projTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    font-size: 16px;
    font-weight: bold;
    transition: .2s;
}

.pbIndex .projTitle::after {
    content: attr(subTitle);
    font-size: 14px;
    font-weight: normal;
    width: max-content;
}

.subTiles2::-webkit-scrollbar {
    display: none;
}

.projectHighlight {
    width: 98vw;
    height: 40vh;
    position: fixed;
    top: 1vw;
    left: 1vw;
    flex-shrink: 0;
    /* padding-top: 60px; */
    filter: blur(10px);

    border-radius: 15px;
    opacity: 0;
    user-select: none;
    pointer-events: none;

    z-index: 3;

    transition: .3s;

    display: flex;
    align-items: center;
    gap: 5px;
    box-sizing: border-box;

    color: var(--elem-transp-text);
}

.projectHighlight.visible {
    opacity: 1;
    height: 48vh !important;
    pointer-events: all;
    filter: blur(0);
}

.projectHighlight.shrink {
    top: 0;
    left: 0;
    width: 100%;
    /* height: 40vh; */
}

.projectHighlight .close {
    width: 70px;
    height: 30px;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(20px) saturate(10);
    border-radius: 90px;
    /* border: 1px solid black; */
    box-shadow:
        inset 0 0 0 1px rgba(255, 255, 255, 0.15),
        0 0 1px rgba(0, 0, 0, .5);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;

    cursor: pointer;

    box-sizing: border-box;
    padding-bottom: 2px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;

    transition: .1s;
}

.projectHighlight .close::before {
    content: '';

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: inherit;
    /* backdrop-filter: invert(1); */
}

.projectHighlight .close::after {
    content: 'Close';
    font-size: 13px;
    margin-left: 5px;
    margin-bottom: -2px;
}


.projectHighlight .close:hover {
    transform: scale(1.1);
}

.projectHighlight .info {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
}

.projectHighlight .projTitle {
    align-self: flex-start;
    font-size: 25px;
    font-weight: bold;
    height: fit-content;
    position: relative;
    z-index: 4;

    display: flex;
    align-items: flex-end;
    gap: 5px;
    padding-left: 10px;
    padding-top: 10px;
}

.projectHighlight .projTitle::after {
    content: attr(data-lastUpdate);
    font-size: 13px;
    font-weight: 500;
    opacity: .5;
}

.projectHighlight .projDesc {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 0;
    font-size: 17px;
    width: auto;
    max-width: 80%;
    min-width: 100px;
    overflow: hidden;

    transition: .3s;
}

.projectHighlight.shrink .projType {
    top: 60px;
}

.projectHighlight .projType {
    position: absolute;
    top: 65px;
    right: 10px;
    text-transform: lowercase;

    font-weight: 300;
    font-size: 20px;
    opacity: .5;

    transition: .2s;
}

.projectHighlight .projImg {
    width: auto;
    max-width: 50%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;

    padding: 15px;
    transition: .2s;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
}

.projectHighlight .actions {
    display: flex;
    justify-content: center;
    width: fit-content;
    padding-bottom: 0;
    /* margin: 0 auto; */
    gap: 3px;
    height: fit-content;

    position: absolute;
    bottom: 10px;
    right: 10px;
}

.projectHighlight .actions>* {
    position: relative;
    height: 45px;
    width: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;

    background-color: var(--elem-transp);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    text-decoration: none;
    color: var(--elem-transp-text);
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;

    transition: .2s;
}

.projectHighlight .actions>*:hover {
    background-color: var(--elem);
}