body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-color: var(--root-back);
    color: var(--root-text);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::before {
        content: '';
        width: 100vw;
        height: 100vh;

        pointer-events: none;

        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;

        transition: .3s;

        will-change: transform;

        transition-delay: .5s;
        background-color: black;
    }

    &.loaded {

        .text,
        .textArea,
        .theRest,
        &::after {
            opacity: 1;

            transition-delay: 0;
        }

        &::before {
            opacity: 0;

            transition-delay: 0;
        }
    }

    &:has(.outlink.visit-fs:hover) {
        .meImg::after {
            opacity: 1;
        }
    }

    &::after {
        content: '';
        position: absolute;

        width: 200vw;
        height: 200vh;
        aspect-ratio: 1/1;

        background-image: linear-gradient(45deg,
                var(--root-back-b) 50%,
                var(--root-back) 50%);
        background-repeat: no-repeat;
        background-size: 100% 100%;

        opacity: 0;
        transition: .2s;
        transition-delay: 1s;

        animation: gradientRotate-body 60s linear infinite;
    }
}

.textArea {
    position: absolute;
    z-index: 10;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(45deg,
            var(--root-back) 50%,
            var(--root-back-b) 50%);
    background-clip: text;
    color: transparent;
    animation: gradientRotate-body 60s linear infinite;
    will-change: transform;

    opacity: 0;
    transition: .2s;
    transition-delay: 1s;
}

.head {
    color: transparent;

    opacity: 0;
    transition: .2s;
    transition-delay: 1.5s;

    font-size: 130px;
    animation: gradientRotate-text 60s linear infinite;
    font-weight: 900;
    will-change: transform;
}

.subhead {
    font-size: 32px;

    font-weight: bolder;
    letter-spacing: 17px;

    color: var(--root-text);

    position: fixed;
    top: 5vh;

    width: max-content;
    max-width: 100%;
    text-wrap: wrap;
    text-align: center;

    opacity: .3;
    text-transform: uppercase;
}

& .theRest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 20;

    opacity: 0;
    transition: .2s;
    transition-delay: 2s;

    & .meImg {
        width: 100px;
        height: 100px;

        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 1000px;

        background-image: url('img/me.jpg');
        background-size: 120%;
        background-position: center -15px;
        background-repeat: no-repeat;
        border: 3px solid var(--root-text);
        box-shadow: 0 10px 15px #00000015;
        pointer-events: none;

        &::after {
            content: '';

            position: absolute;

            width: 100%;
            height: 100%;

            opacity: 0;
            transition: .2s;

            border-radius: 1000px;

            background-image: url('img/logo_orb.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border: 3px solid var(--root-text);
        }
    }
}

.outLinks {
    display: flex;
    flex-direction: column;
    gap: 5px;

    margin-top: 250px;
}

& .outlink {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px #00000015;
    overflow: hidden;

    width: 200px;
    height: 45px;
    font-size: 17px;

    backdrop-filter: blur(10px);
    border-radius: 8px;

    transition: .3s ease;

    user-select: none;
    cursor: pointer;

    position: relative;
    z-index: 20;

    &:first-of-type {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    &:last-of-type {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    &:hover {
        box-shadow: 0 10px 15px #00000033;
        background-color: white;
        border-radius: 100px;

        & p {
            font-weight: 600;
            opacity: 1;
            color: black !important;
        }

        &::after {
            opacity: .15;
        }
    }

    &::after {
        content: '';
        width: 100%;
        height: 100%;

        position: absolute;
        z-index: 0;

        opacity: .05;
        transition: .2s;
        background: linear-gradient(to bottom, transparent, var(--root-text));
    }

    &::before {
        content: '';
        width: 100%;
        height: 100%;

        position: absolute;
        z-index: 0;

        opacity: .1;

        box-sizing: border-box;
        border: 1px solid var(--root-text);
        border-radius: inherit;
    }

    & p {
        position: relative;
        z-index: 10;

        transition: .2s;

        color: var(--root-text);

        opacity: .75;
    }
}



@keyframes gradientRotate-body {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes gradientRotate-text {
    0% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}