body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-color: var(--root-back);
    color: var(--root-text);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & canvas {
        mask-image: linear-gradient(to bottom, black, transparent);

        position: relative;
        z-index: 1000;
        pointer-events: none;
    }

    &::before {
        content: '';
        width: 100vw;
        height: 100vh;

        pointer-events: none;

        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;

        transition: .3s;

        will-change: transform;

        transition-delay: .5s;
        background-color: black;
    }

    &.loaded {

        .head,
        .meImg,
        .outLinks,
        &::after {
            opacity: 1;
        }

        .subhead {
            opacity: .3;

            transition-delay: 1s;
        }

        .meImg {
            transition-delay: 1.5s;
        }

        .head {
            transition-delay: 1.75s;
        }

        .outLinks {
            transition-delay: 2s;
        }

        &::before {
            opacity: 0;

            transition-delay: 0;
        }
    }

    &:has(.outlink.visit-fs:hover) {
        .meImg::after {
            opacity: 1;
        }
    }
}

.subhead {
    font-size: 32px;

    font-weight: bolder;
    letter-spacing: 17px;

    color: var(--root-text);

    position: fixed;
    top: 5vh;

    width: max-content;
    max-width: 100%;
    text-wrap: wrap;
    text-align: center;

    opacity: 0;
    transition: .4s;
    transition-delay: 0;
    text-transform: uppercase;
}

.meImg {
    width: 100px;
    height: 100px;

    position: relative;
    top: -175px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 1000px;

    opacity: 0;
    transition: .4s;
    transition-delay: 0;

    background-image: url('img/me.jpg');
    background-size: 120%;
    background-position: center -15px;
    background-repeat: no-repeat;
    border: 3px solid var(--root-text);
    box-shadow: 0 10px 15px #00000015;
    pointer-events: none;

    &::after {
        content: '';

        position: absolute;

        width: 100%;
        height: 100%;

        opacity: 0;
        transition: .2s;

        border-radius: 1000px;

        background-image: url('img/logo_orb.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 3px solid var(--root-text);
    }
}

.head {
    color: transparent;
    text-shadow:
        -5px -5px 10px var(--root-back-alpha),
        10px 10px 10px rgba(0, 0, 0, 0.2);

    background: linear-gradient(to top, var(--root-back), var(--root-back-b));

    background-clip: text;
    -webkit-background-clip: text;

    opacity: 0;
    transition: .4s;
    transition-delay: 0;

    position: absolute;
    z-index: 10000;

    font-size: 130px;
    font-weight: 900;
    will-change: transform;
}

.outLinks {
    display: flex;
    flex-direction: column;
    gap: 5px;

    position: relative;
    top: 175px;

    opacity: 0;
    transition: .4s;
    transition-delay: 0;

    & .outlink {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 5px 10px #00000015;
        overflow: hidden;

        width: 200px;
        height: 45px;
        font-size: 17px;

        backdrop-filter: blur(10px);
        border-radius: 8px;

        transition: .3s ease;

        user-select: none;
        cursor: pointer;

        position: relative;
        z-index: 20;

        &:first-of-type {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        &:last-of-type {
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }

        &:hover {
            box-shadow: 0 10px 15px #00000033;
            background-color: white;
            border-radius: 100px;

            & p {
                font-weight: 600;
                opacity: 1;
                color: black !important;
            }

            &::after {
                opacity: .15;
            }
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;

            position: absolute;
            z-index: 0;

            opacity: .05;
            transition: .2s;
            background: linear-gradient(to bottom, transparent, var(--root-text));
        }

        &::before {
            content: '';
            width: 100%;
            height: 100%;

            position: absolute;
            z-index: 0;

            opacity: .1;

            box-sizing: border-box;
            border: 1px solid var(--root-text);
            border-radius: inherit;
        }

        & p {
            position: relative;
            z-index: 10;

            transition: .2s;

            color: var(--root-text);

            opacity: .75;
        }
    }
}