@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
}

*{
    box-sizing: border-box;
    font-family: system-ui;
}

a{
    text-decoration: none;
    color: inherit;
}

@media (prefers-color-scheme: light) {
    :root{
        --backgroundColor: antiquewhite;

        --fontColorA: black;
        --fontColorB: rgb(105, 91, 65);

        --logoFilter: invert(0);
        --colorFilter: brightness(0) saturate(0) invert(95%) sepia(73%) saturate(336%) hue-rotate(304deg) brightness(102%) contrast(96%);

        --buttonHover: #0000000b;
        --shineColor: #FFFFFF55;

        --pageBackgroundColor: white;
    }
}

@media (prefers-color-scheme: dark) {
    :root{
        --backgroundColor: rgb(105, 91, 65);

        --fontColorA: white;
        --fontColorB: antiquewhite;

        --logoFilter: invert(100%);
        --colorFilter: brightness(0) saturate(0) invert(36%) sepia(10%) saturate(1313%) hue-rotate(1deg) brightness(92%) contrast(88%);

        --buttonHover: #FFFFFF15;
        --shineColor: #FFFFFF33;

        --pageBackgroundColor: black;
    }
}