body{
    background-color: var(--pageBackgroundColor);
    overflow-x: hidden;
    overflow-y: scroll;
}

.heroImage{
    width: 100vw;
    height: 40vh;

    position: relative;
    z-index: 5;

    margin-bottom: 20px;
    
    background: linear-gradient(45deg, rgb(235, 77, 103), teal, rgb(184, 32, 163));
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    color: white;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.heroTitle{
    font-size: 10em;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
}

.heroSubTitle{
    font-size: 2.5em;
    font-weight: 300;
    font-family: 'Inconsolata', serif;
}

.heroBody{
    width: 100vw;
    height: max-content;

    overflow: scroll;

    padding: 15px;
}

@keyframes colorFade {
    0%{
        background: #018000;
    }

    20%{
        background: #197CDA;
    }

    40%{
        background: #7D36B9;
    }

    60%{
        background: #BA2A57;
    }

    80%{
        background: #FA8A36;
    }

    100%{
        background: #58A18B;
    }
}