* {
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

:root {
    --page0: rgb(145, 23, 182);
    --page0-dark: #3f2359;
    --page0-light: #c13dd0;

    --page1: #1bb079;
    --page1-light: #2ec78f;
    --page1-dark: #188a2f;

    --page2: #f32753;
    --page2-dark: #a01835;
    --page2-light: #eb5575;

    --page3: #1da1f2;

    --page4: rgb(34, 34, 34);
    --page4-prev: rgb(199, 134, 36);

    --pageBack: var(--page0);
}

@font-face {
    font-family: Circl;
    src: url(circ.otf);
}

@media (prefers-color-scheme: dark) {
    :root {
        --rootBack: #222;
        --containerBack: hsla(0, 0%, 0%, 0.3);
        --containerBord: hsla(0, 0%, 100%, 0.1);

        --transparent-container: rgba(0, 0, 0, .75);

        --hero-back: #2929299d;

        --elem: rgb(65, 65, 65);
        --elem-sel: rgb(148, 148, 148);
        --elem-text: white;

        --elem-transp: rgba(160, 160, 160, 0.8);
        --elem-transp-sel: rgba(65, 65, 65, 0.8);
        --elem-transp-text: white;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --rootBack: #EEE;
        --containerBack: hsla(0, 0%, 0%, 0.1);
        --containerBord: hsla(0, 0%, 0%, 0.1);

        --transparent-container: rgba(255, 255, 255, .75);

        --hero-back: #ffffff8a;

        --elem: rgb(185, 185, 185);
        --elem-sel: rgb(49, 49, 49);
        --elem-text: black;

        --elem-transp: rgba(185, 185, 185, 0.5);
        --elem-transp-sel: rgba(49, 49, 49, 0.8);
        --elem-transp-text: #222;
    }
}

.pb1 {
    border-color: var(--page0);
    background-color: var(--page0);
    color: var(--page0);
}

.pb2 {
    border-color: var(--page1);
    background-color: var(--page1);
    color: var(--page1);
}

.pb3 {
    border-color: var(--page2);
    background-color: var(--page2);
    color: var(--page2);
}

.pb4 {
    border-color: var(--page3);
    background-color: var(--page3);
    color: var(--page3);
}

.pb5 {
    border-color: var(--page4-prev);
    background-color: var(--page4-prev);
    color: var(--page4-prev);
}

/* Nav */


.navBar {
    height: fit-content;
    width: fit-content;

    position: absolute;
    top: 5px;
    z-index: 15;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;

    border-radius: 50px;
    /* backdrop-filter: blur(10px); */

    overflow: hidden;
    /* padding: 10px; */
}

.navBar.portrait {
    width: 100%;
    top: 0;
    border-radius: 0;
}

.navBar.portrait .pageBtns .pb::after {
    font-size: 24px;
}

.navBar.portrait .pageBtns .pbIndic {
    width: calc(30% - 5px);
    margin-left: 2%;
}

.navBar.portrait .pageBtns .pbIndic.right {
    margin-left: 67%;
}

.navBar.portrait .pageBtns .pbIndic.middle {
    margin-left: 34.5%;
}

.slick-dots,
.directns,
.pagePill {
    display: none !important;
}

.pageBtns {
    display: flex !important;
    align-items: center;

    width: fit-content;
    height: 50px;

    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    box-sizing: border-box;

    /* gap: 1px; */

    position: relative;

    background-color: var(--page0-dark);
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* mix-blend-mode: overlay; */
}

.pb {
    width: 33.33%;
    /* padding: 0 10px; */
    height: 100%;

    color: white;
    border-radius: 0;
    /* border-radius: 15px 15px 0 0; */
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    position: relative;
    z-index: 2;
    overflow: hidden;

    transition: width .5s, border-radius .3s;
}

.pbIndic {
    width: 32.5%;
    height: calc(100% - 10px);

    position: absolute;
    z-index: 1;

    border-radius: 50px;

    top: 5px;
    left: 5px;
    right: 0px;

    margin-left: 0;
    margin-right: 5px;

    transition: .3s;
    background-color: var(--page0);

    display: flex;
    align-items: center;
    justify-content: center;
}

.pbIndic::after {
    /* content: ""; */
    width: 40px;
    height: 15px;

    background-color: black;

    position: absolute;
}

.pbIndic.right {
    margin-left: calc(68% - 12px);
}

.pbIndic.middle {
    margin-left: calc(33.3% - 3px);
}

.pb::after {
    content: attr(data-pageName);
    font-weight: 700;
    font-size: 26px;

    line-height: 10px;

    opacity: 0;
    width: 0;

    transition: .2s;
}

.pb i {
    width: 45px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    opacity: .75;
    transition: .2s;
    font-size: 20px;

    opacity: 0;
    width: 0 !important;
}

.pb.pbs::before {
    width: 100%;
    border-radius: 8px;
}

.pb::after {
    opacity: 1;
    width: 120px;
    text-align: center;
    color: white;
}

.navBtn {
    width: 70px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;

    overflow: hidden;

    background-color: var(--elem-transp);
    color: var(--elem-transp-text);

    border: none;
}

.pagePill {
    margin-right: auto;
    border-radius: 50%;

    width: 45px;
    height: 45px;

    transform: translateX(-2px);

    font-size: 22px;
    color: white;

    transition: background-color .2s;
}

.directns {
    display: flex;
    gap: inherit;
    border-radius: 100px;
    overflow: hidden;
}

.directns button {
    border: none !important;
    outline: none !important;
}

.slick-dots {
    position: absolute;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 0;

    padding: 0 !important;
    margin: 0 !important;

    border-radius: 50px;
    overflow: hidden;
    height: 20px;

    background-color: var(--elem);
}

.slick-dots li {
    display: flex;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.slick-dots li button {
    appearance: none;
    border: none;

    width: 20px;
    height: 20px;

    padding: 0;
    margin: 0;

    color: transparent;
    border-radius: 50%;
    background-color: transparent;

    transition: background-color .2s;
}

.slick-active button {
    background-color: var(--elem-transp-text) !important;
}