.split {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;

    width: 50%;
    height: 100%;
}

.splitPage.portrait .split {
    width: 100%;
    height: 50%;
}

.splitPage.portrait .rightBottom {
    width: fit-content !important;
    max-width: 640px;

    margin: 0 auto;
    padding: 0;
    border-radius: 20px 20px 0 0;
}

.splitPage.portrait {
    flex-direction: column;
}

.splitInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    width: fit-content;
    height: fit-content;
}

.leftTop {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    color: white;

    font-size: 100px;
}

.wm {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.info {
    font-size: 15px;

    width: 30ch;

    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 14px;
}

.rightBottom {
    overflow-y: scroll;

    height: fit-content;
    max-height: 600px;

    margin: auto 0;

    border-radius: 20px 0 0 20px;
    background-color: var(--rootBack);
}