@media (prefers-color-scheme: light) {
    :root{
        --backgroundColor: #defad6;

        --fontColorB: #2d4026;

        --accentGradient: linear-gradient(90deg, rgb(53, 196, 72), rgb(54, 225, 231));
        --accentRegular: #31cc3e;
    }
}

@media (prefers-color-scheme: dark) {
    :root{
        --backgroundColor: #2d4026;

        --fontColorB: #defad6;
        
        --accentGradient: linear-gradient(90deg, rgb(53, 196, 72), rgb(54, 225, 231));
        --accentRegular: #31cc3e;
    }
}