.tiles {
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* gap: 10px; */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    overflow-x: scroll;

    padding: 20px;
}

.socials {
    display: flex;
    flex-wrap: wrap;
    width: 390px;
    border-radius: 9px;
    overflow: hidden;

    flex-shrink: 0;
}

.homeCont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
    /* gap: 10px; */

    width: max-content !important;
    height: fit-content !important;

    overflow: hidden;
}

.hcr1 {
    margin-right: 10px;
    border-radius: 9px;
}

.tile {
    position: relative;
    height: 130px;
    width: 130px;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: white;

    transition: .15s;
}

.tile:active {
    transform: scale(.9);
}

.socials .tile::before {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    opacity: 0;
    filter: blur(20px);
    left: 0;
    z-index: -1;
    transition: opacity .3s, filter .4s;
}

.socials .tile:hover::before {
    /* filter: blur(0); */
    opacity: 1;
}

.socials .tile:hover {
    /* transform: scale(1.05); */
    z-index: 1;
    color: black;
}

.socials .tile::after {
    width: 100%;
    left: 0;

    text-align: center;

    color: black !important;
    opacity: 0;
}

.socials .tile:hover::after {
    opacity: 1;
}


.tile-wide {
    width: 260px;
    /* background: linear-gradient(90deg, #008a17, #00a61b); */
    background: linear-gradient(90deg, #2672ec, #2e8def);
}

.tile-large {
    width: 260px;
    height: 260px;

    /* background: linear-gradient(90deg, #2672ec, #2e8def); */
    background-color: #222;
}

.tile::after {
    content: attr(data-tileName);
    font-size: 12px;

    position: absolute;
    bottom: 6px;
    left: 13px;
    transition: .2s;
}

.tile i {
    font-size: 50px;
    width: 65px;
    height: 65px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .15s;
}

.tile:hover i {
    font-size: 60px;
}

.contactCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient(90deg, #ac193d, #bf1e4b);
}

.imgs {
    display: flex;
    /* gap: 10px; */
}

.img {
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.img1 {
    background-image: url("https://pbs.twimg.com/profile_images/1570077444765278210/Yp59rWOV_400x400.jpg");
    color: black !important;

    background-size: 90%;
    background-color: white;
}

.img2 {
    background-image: url("https://lh3.googleusercontent.com/FR5-SZ0QpGhqfq8-TwvKlVttTjxZo3CCCz8JpgAgb9ypWcSbIOiYwMolRZaRfFz-EdElWGmD7ccOOJC9DVOOVbZGIA3mPPOQdFJ3Oy1BSJHX_WzSurNSHxPncoZc-9thHt_Xs1lFQAbGkuOnfGHJqaNDW77fGbaAhiUyrbK46k0jJtvh-NcoXgqwsPx6uaHM29WqTpOk3L4ibHFQgJvzRXArDk4cnLGaBTT72NdqFh1bp6W--25Z85upzdHb0lZPZtgkW6ek2B5eSGlZr2t_uiS9EUH0WLtVDPH-5Shzu7MVRcs98SOKZLn9VDZx-5q-mP70WYq93mNFdpGshsfeNw5ou5BB8qg1qEDxzh8E-ZnUZlasQZtaVHFpcPIMbv1VkWkI-CH2s7Xi9bDfoj8AVXIyH-yueO5ecVLldg_HMyOwX64Yk5oqxUoAEJlZShVu1R2rCSnEQSiuLVjCGmIzTqabFYx_0jLyO2TA39uTQD75kfVIH_Zzkb4ZYAUT_Ux1kJV6h2Po2pLjSATo7X-lzABwgsCsPWtqFZyaZxpClZezDjGLb-xh0PQWCsKnCQqlcIZiJZOt4lJ49XpW38wZpTulbFaeOujMZWVZV_EaJi7N7XhpNZCRArs1b3vyN9lQZILkH3yfxpEUesz5afuPzOsqPzBFxppurFyIDVybTXCKqLUKtzqX5HULi1FbMyCW2_Do5lTFInaBYmZUX7cHUuOgEJCdXITjbCZu2yKNW1wB8S85HfpoxX9Q7Jxz5yx-tyBn3PXn2T_VKr3NUbJkM9UXMQKED3jUNof2mUSOGHX7Xu3iJRDTKA5h7kdOxCiXcKuTiEMMNj_8SVW3f5tQYvsA9J3LfnDsbFb1UIXJa5WKarYj2b8s9BO86cKPtFR3cxwALqrsVEcpl1J_nCrh8Kx-_i52Z6jf1XmMDca5SQ=w1365-h1367-no?authuser=0");

}

.contactCard .wm {
    font-size: 25px;
    font-weight: bold;
    height: fit-content;
}

.contactCard .wm-sub {
    font-size: 20px;
    font-weight: normal;
    opacity: .7;
    height: fit-content;
}

.welcomeText {
    font-size: 14px;
    line-height: 15px;

    background: linear-gradient(90deg, #5133ab, #643ebf)
}

/* Tile specs */

.sbTwitter:hover i {
    color: #1da1f2 !important;
}

.sbDiscord:hover i {
    color: #5865f2 !important;
}

.sbDeviant:hover i {
    color: #01d13c !important;
}

.sbReddit:hover i {
    color: #fd4401 !important;
}

.sbDribbble:hover i {
    color: #ea4c89 !important;
}

.sbYouTube:hover i {
    color: #ff0000 !important;
}

.sbMedium:hover i {
    color: #ffb217 !important;
}

.sbGitHub:hover i {
    color: #9656b0 !important;
}

.sbTwitch:hover i {
    color: #9147ff !important;
}

.sbMastodon:hover i {
    color: #2a8bd2 !important;
}

.sbTwitter {
    background-color: #1da1f2 !important;
}

.sbDiscord {
    background-color: #5865f2 !important;
}

.sbDeviant {
    background-color: #01d13c !important;
}

.sbReddit {
    background-color: #fd4401 !important;
}

.sbDribbble {
    background-color: #ea4c89 !important;
}

.sbYouTube {
    background-color: #ff0000 !important;
}

.sbMedium {
    background-color: #ffb217 !important;
}

.sbGitHub {
    background-color: #9656b0 !important;
}

.sbTwitch {
    background-color: #9147ff !important;
}

.sbMastodon {
    background-color: #2a8bd2 !important;
}