.tiles {
    width: fit-content;
    max-width: 100vw;
    height: fit-content;
    max-height: 100vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    overflow-x: scroll;

    /* background-color: rgb(0, 0, 0); */

    padding: 50px;
}

.tiles::-webkit-scrollbar {
    display: none;
}

.socials {
    display: flex;
    width: 410px;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 9px;
    /* overflow: hidden; */
    gap: 10px;


    position: relative;

    flex-shrink: 0;
}

.tile {
    position: relative;
    height: 130px;
    width: 130px;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: white;

    transition: .15s;
}

.tile:active::before {
    transform: scale(.9);
}

.tile:after {
    width: max-content;

    text-align: center;

    color: black !important;
    opacity: 0;

    content: attr(data-tileName);
    font-size: 12px;

    position: absolute;
    z-index: 1;
    bottom: 6px;
    left: 13px;
    transition: .2s;
}

.tile:hover::after {
    opacity: 1;
}


.tile-wide {
    width: 270px;
    /* background: linear-gradient(90deg, #008a17, #00a61b); */
}

.tile-large {
    width: 260px;
    height: 260px;

    /* background: linear-gradient(90deg, #2672ec, #2e8def); */
    background-color: #222;
}

.tile i {
    font-size: 50px;
    width: 65px;
    height: 65px;
    
    color: var(--page0-light);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .15s;
}

.tile:hover i {
    /* font-size: 60px; */
    color: white;
}

.tile::before {
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;
    z-index: -1;

    background-color: var(--page0-dark);
    border-radius: 300px;

    /* filter: blur(20px); */
    transition: .15s;
}

.tile:hover::before {
    filter: saturate(2);
    z-index: -2;
    border-radius: 16px;
}

.tile:hover:active::before {
    filter: blur(10px);
    border-radius: 50%;
}

.tile:active i {
    color: white;
    filter: none;
    opacity: 1;
}

.contactCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactCard:hover::before {
    border-radius: 16px !important;
}

.contactCard::before {
    background: black !important;
    background-color: white;
    border-radius: 16px !important;
}

.imgs {
    display: flex;
    /* gap: 10px; */
}

.img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.img1 {
    background-image: url(../23logo.png);
    color: black !important;

    background-size: 65%;
}

.img1::before {
    background-color: white !important;
}

.contactCard .wm {
    font-size: 25px;
    font-weight: bold;
    height: fit-content;
}

.contactCard .wm-sub {
    font-size: 20px;
    font-weight: normal;
    opacity: .7;
    height: fit-content;
}

.welcomeText {
    font-size: 14px;
    line-height: 15px;

    background: linear-gradient(90deg, #5133ab, #643ebf)
}

/* Tile specs */

/* .sbTwitter:hover i {
    color: #1da1f2 !important;
}

.sbDiscord:hover i {
    color: #5865f2 !important;
}

.sbDeviant:hover i {
    color: #01d13c !important;
}

.sbReddit:hover i {
    color: #fd4401 !important;
}

.sbDribbble:hover i {
    color: #ea4c89 !important;
}

.sbYouTube:hover i {
    color: #ff0000 !important;
}

.sbMedium:hover i {
    color: #ffb217 !important;
}

.sbGitHub:hover i {
    color: #9656b0 !important;
}

.sbTwitch:hover i {
    color: #9147ff !important;
}

.sbMastodon:hover i {
    color: #2a8bd2 !important;
} */

.sbTwitter:hover::before {
    background-color: #1da1f2 !important;
}

.sbDiscord:hover::before {
    background-color: #5865f2 !important;
}

.sbDeviant:hover::before {
    background-color: #01d13c !important;
}

.sbReddit:hover::before {
    background-color: #fd4401 !important;
}

.sbDribbble:hover::before {
    background-color: #ea4c89 !important;
}

.sbYouTube:hover::before {
    background-color: #ff0000 !important;
}

.sbMedium:hover::before {
    background-color: #ffb217 !important;
}

.sbGitHub:hover::before {
    background-color: #9656b0 !important;
}

.sbTwitch:hover::before {
    background-color: #9147ff !important;
}

.sbMastodon:hover::before {
    background-color: #2a8bd2 !important;
}