.socials {
    width: fit-content;
    height: fit-content;
    max-width: 100%;
    max-height: 100%;

    overflow-y: scroll;
    padding-top: 10px;
    padding-bottom: 70px;

    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.socialBtn {
    min-width: 200px;
    width: fit-content;
    height: 80px;

    border-radius: 16px;
    border: 3px solid;
    box-sizing: border-box;
    overflow: hidden;

    position: relative;

    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: .2s;

    text-decoration: none;
}

.socialBtn::before {
    content: "";
    width: 0%;
    height: 100%;

    position: absolute;
    left: 0;

    background-color: white;

    transition: width .2s;
}

.socialBtn:hover::before {
    width: 100%;
    right: 0;
    left: unset;
}

.socialBtn i {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: 10px;
    transition: .2s;

    position: relative;
    z-index: 1;

    font-size: 25px;
    border-radius: 50%;
    background-color: white;
}

.socialBtn:hover::after {
    color: white;
}

.socialBtn::after {
    content: attr(data-btnName);

    font-size: 25px;
    font-weight: 500;

    position: absolute;
    color: white;
    z-index: 1;
    transition: color .2s;
}

.socialBtn:hover::after {
    color: black;
}

.sbTwitter {
    color: #1da1f2;
    background-color: #1da1f2;
    border-color: #1da1f2;
}

.sbDiscord {
    color: #5865f2;
    background-color: #5865f2;
    border-color: #5865f2;
}

.sbDeviant {
    color: #01d13c;
    background-color: #01d13c;
    border-color: #01d13c;
}

.sbReddit {
    color: #fd4401;
    background-color: #fd4401;
    border-color: #fd4401;
}

.sbDribbble {
    color: #ea4c89;
    background-color: #ea4c89;
    border-color: #ea4c89;
}

.sbYouTube {
    color: #ff0000;
    background-color: #ff0000;
    border-color: #ff0000;
}

.sbMedium {
    color: #ffc017;
    background-color: #ffc017;
    border-color: #ffc017;
}

.sbGitHub {
    color: #9656b0;
    background-color: #9656b0;
    border-color: #9656b0;
}

.sbTwitch {
    color: #9147ff;
    background-color: #9147ff;
    border-color: #9147ff;
}

.sbMastodon {
    color: #2a8bd2;
    background-color: #2a8bd2;
    border-color: #2a8bd2;
}