.tiles2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* background-color: rgb(0, 0, 0); */

    display: flex;
    height: fit-content;
    width: min-content;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    gap: 5px;
    /* overflow: hidden; */

    flex-shrink: 0;
}

.subTiles2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 325px;
    height: 0;
    gap: 5px;
    overflow: hidden;
}

.tiles2::-webkit-scrollbar {
    display: none;
}

.tile2 {
    position: relative;
    height: 60px;
    width: 155px;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    background-color: var(--page1-light);
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    text-decoration: none;
    color: white;

    transition: .2s;
}

.tile2::after {
    content: attr(data-tileName);
    font-size: 14px;
    font-weight: bold;

    color: white;
    opacity: 0;

    position: relative;
    z-index: 1;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    /* right: 20px; */

    overflow: hidden;

    width: 0;
    text-align: center;
    transition: .3s;
    transition-delay: 0;
}

.tile2:hover::after {
    opacity: 1;
    width: 100px;
    transition-delay: .15s;
}

.tile2 i {
    font-size: 30px;
    width: 40px;
    height: 40px;
    /* margin-left: auto; */

    color: var(--page1-dark);
    /* background-color: white; */
    /* border-radius: 50%; */
    /* flex-shrink: 0; */

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .2s;
}

.tile2:hover i {
    /* font-size: 60px; */
    color: white;

    transform: scale(1.2);
}

.contactInfo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100px;
    width: 212px;
    border-radius: 14px;
    color: white;
    background: var(--page1-dark) !important;
}

.img2 {
    background-image: url(../23logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: black !important;
    background-color: white !important;

    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 14px;

    background-size: 65%;
}

.contactInfo2 .wm2 {
    font-size: 20px;
    font-weight: bold;
    height: fit-content;
}

.contactInfo2 .wm2-sub {
    font-size: 15px;
    font-weight: normal;
    opacity: .7;
    height: fit-content;
    width: 180px;

    margin: 0 auto;
}

/* Tile specs */

/* .sbTwitter:hover i {
    color: #1D9BF0 !important;
}

.sbDiscord:hover i {
    color: #5865F2 !important;
}
*/

.sbDeviant:hover i {
    color: #01d13c !important;
}

/*
.sbReddit:hover i {
    color: #FF4501 !important;
}

.sbDribbble:hover i {
    color: #EA4C89 !important;
}

.sbYouTube:hover i {
    color: #ff0000 !important;
}

*/
.sbMedium:hover i {
    color: #ffffff !important;
}

.sbGitHub:hover i {
    color: #9656b0 !important;
}

/*
.sbTwitch:hover i {
    color: #9146FF !important;
}

.sbMastodon:hover i {
    color: #563ACC !important;
} */

.sbTwitter:hover {
    background-color: #1D9BF0 !important;
}

.sbDiscord:hover {
    background-color: #5865F2 !important;
}

.sbDeviant:hover {
    background-color: #2a2a2a !important;
}

.sbReddit:hover {
    background-color: #FF4501 !important;
}

.sbDribbble:hover {
    background-color: #EA4C89 !important;
}

.sbYouTube:hover {
    background-color: #ff0000 !important;
}

.sbMedium:hover {
    background-color: #2a2a2a !important;
}

.sbGitHub:hover {
    background-color: #2a2a2a !important;
}

.sbTwitch:hover {
    background-color: #9146FF !important;
}

.sbMastodon:hover {
    background-color: #563ACC !important;
}