.tiles2 {
    position: absolute;
    top: calc(50% + 75px);
    left: 50%;
    transform: translate(-50%, -50%);

    /* background-color: rgb(0, 0, 0); */

    display: flex;
    flex-direction: column;
    height: fit-content;
    max-height: 100vh;
    width: min-content;
    align-items: center;
    justify-content: flex-start;
    border-radius: 9px;
    /* gap: 5px; */
    /* overflow: hidden; */

    flex-shrink: 0;
}

.subTiles2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 500px;
    height: 50%;
    border-radius: 14px;
    gap: 5px;
    overflow: scroll;

    /* padding: 40px; */
    padding-top: 10px;
    padding-bottom: 130px;
}

.projectBox {
    width: 330px;
    height: 120px;
    background-color: #A1D9BF;
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, 0.4);

    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;

    position: relative;
    overflow: hidden;
    cursor: pointer;

    transition: .25s;
}

.projectBox::before {
    content: "";
    position: absolute;
    z-index: 100;
    left: 0;

    width: calc(100% - 2px);
    height: calc(100% - 2px);
    /* height: 100%; */
    border-radius: 13px;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.projectBox::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;

    background: linear-gradient(270deg, transparent, #A1D9BF 50%);
    transition: .4s;
}

.projectBox:hover::after {
    width: 50%;
    /* background-color: #A1D9BF; */
    /* opacity: .5; */
}

.projectBox:hover {
    width: 410px;
    /* background-color: white; */
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.3);
    /* transform: scale(1.1); */
    /* margin: 7px 0; */
}

.projectBox .projTitle {
    font-size: 18px;
    font-weight: bold;
    height: fit-content;
    position: relative;
    z-index: 4;
}

.projectBox .projDesc {
    font-size: 12px;
    font-weight: normal;
    height: fit-content;
    width: 170px;
    position: relative;
    z-index: 4;
    padding-bottom: 10px;
    /* background-color: purple; */
}

.projDesc::after {
    content: attr(data-lastUpdate);
    font-size: 13px;
    font-weight: 500;
    opacity: .5;
    position: absolute;
    left: 0;
    bottom: -6px;
}

.projectBox .projImg {
    /* width: 100px; */
    height: 100%;

    position: absolute;
    z-index: 2;
    right: 0;
    /* background-color: purple; */

    /* transition: .25s; */
}

.subTiles2::-webkit-scrollbar {
    display: none;
}

.headTiles {
    display: flex;
    height: 100px;
    flex-shrink: 0;
    gap: 0;
    border-radius: 14px;
    overflow: hidden;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3px;

    position: relative;
    box-sizing: border-box;
    padding-left: 15px;

    height: 100%;
    width: 232px;
    color: white;
    background: var(--page1-dark) !important;
}

.img {
    background-image: url(../23logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: black !important;
    background-color: white !important;

    width: 100px;
    height: 100px;
    /* aspect-ratio: 1/1; */

    background-size: 70%;
}

.contactInfo .wm {
    font-size: 20px;
    font-weight: bold;
    height: fit-content;
}

.contactInfo .wm-sub {
    font-size: 14px;
    font-weight: normal;
    opacity: .7;
    height: fit-content;
    width: 170px;
}

.contactInfo .wm-sub::after {
    /* content: "Click to open"; */
    font-size: 12px;

    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);

    width: fit-content;
}