---
layout: layouts/base.njk
title: Home
namespace: home
subhead: home
mainClass: container
extraStyles:
  - /css/projects.css
---

<p class="head">GTH.zip</p>

<div class="tab-buttons"></div>
<div class="homePages">
    <div class="outLinks page">
        <div class="outlink-wrapper">
            <a href="/futur3sn0w" class="outlink gthNav visit-fs" title="My Brand">
                <i class="fa-solid fa-snowflake"></i>
                <img class="outlink-img" src="img/logo_square.png" alt="" draggable="false">
            </a>
            <p class="outlink-label">Futur3Sn0w</p>
        </div>

        <div class="outlink-wrapper wide">
            <a href="/projects" class="outlink gthNav wide my-projects" title="My Projects">
                <i class="fa-solid fa-icons"></i>
                <img class="outlink-img" src="" alt="" draggable="false">
                <div class="project-icon-container">
                    <i class="project-icon-large fa-solid fa-plus"></i>
                </div>
                <div class="infoLabels">
                    <p class="type"></p>
                    <p class="title"></p>
                    <p class="date"></p>
                </div>
            </a>
            <p class="outlink-label">My Projects</p>
        </div>

        <div class="outlink-wrapper wide">
            <a href="/music" class="outlink gthNav wide my-music" title="My Music">
                <i class="fa-solid fa-headphones"></i>
                <img class="outlink-img" src="" alt="" draggable="false">
                <div class="infoLabels">
                    <p class="type"></p>
                    <p class="title"></p>
                    <p class="date"></p>
                </div>
            </a>
            <p class="outlink-label">My Music (Beta)</p>
        </div>

        <div class="outlink-wrapper">
            <a href="/about" class="outlink gthNav about-me" title="About Me">
                <i class="fa-solid fa-user"></i>
                <img class="outlink-img" src="img/me.jpg" alt="" draggable="false">
            </a>
            <p class="outlink-label">About Me</p>
        </div>
    </div>

    <div class="subTiles page" id="socialList"></div>
</div>
